<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<th:block layout:fragment="content">
	<script src="js/js-tabler/demo-theme.min.js?1692870487"></script>
	<div class="page-wrapper" id="page-wrapper">
		<div class="container" id="container">
			<h2>[[${menuNm}]]</h2>
			<div class="ptag-container">
				<span>[[${navigator}]]</span>
				<div class="form-container">
					<div class="form-box">
						<form id="filter-form" name="form" method="post" action="/BIZFST001M0SelectList" onsubmit="return false;">
							<div class="row">
								<!-- Year Select -->
								<div class="col-auto">
									<label class="form-label">Standard Year / Month :</label>
									<select name="user[year]" class="form-select select-month-year p-1" id="inputYear">
									<option selected value="">- Year -</option>
									<!-- Year Options -->
										<option value="2024">2024</option>
									</select>
								</div>
								<!-- Month Select -->
								<div class="col-auto">
									<label class="form-label"> &nbsp; </label>
									<select name="user[month]" class="form-select select-month-year p-1" id="inputMonth">
									<option selected value="">- Month -</option>
									<!-- Month Options -->
									<option value="1">January</option>
									<option value="2">February</option>
									<option value="3">March</option>
									<option value="4">April</option>
									<option value="5">May</option>
									<option value="6">June</option>
									<option value="7">July</option>
									<option value="8">August</option>
									<option value="9">September</option>
									<option value="10">October</option>
									<option value="11">November</option>
									<option value="12">December</option>
									</select>
								</div>
								<div class="col-sm-6 col-md-3">
									<label class="form-label">Account Code or Name :</label>
									<input id="inpSearchTxt" name="inpSearchTxt" type="text" class="form-control p-1" placeholder="Account Code or Name" />
								</div>
								<div class="col-auto">
									<button type="button" class="btn btn-primary search-button p-1" style="padding: 4px 10px; color: white; font-size: 13px" onclick="getSearch()">Search</button>
								</div>
								<div class="col text-end">
									<p style="height:27px;">&nbsp;</p>
									<button form="new-form" type="button" class="btn btn-primary" style="padding: 4px 10px; color: white; font-size: 13px" onclick="getSettle()" data-test="create-button" onsubmit="return false;">Generate</button>
									<button type="button" class="btn btn-lime" style="padding: 4px 10px; color: white; font-size: 13px" id="downloadExcel">Download</button>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div style="padding-top: 2em"></div>
				<div class="card card-md" id="divMyGrid">
				</div>
			</div>
			<div class="popupDataForm">
				<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" style="display: none">Launch modal with form</button>
				<div class="modal fade" id="exampleModal" tabindex="-1" style="display: none">
					<div class="modal-dialog modal-small" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title">New report</h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>
							<div class="modal-body">
								<div class="row">
									<!-- Removed repetitive content for clarity -->
									<!-- Add necessary modal content here -->
								</div>
							</div>
							<div class="modal-footer">
								<a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">Cancel</a> <a href="#" class="btn btn-primary ms-auto" data-bs-dismiss="modal" style="padding: 4px 10px; color: white; font-size: 13px">Save changes</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="js/utils.js"></script>
	<script>
		function checkData(data) {
			return parentCheckData(data, check_cols);
		}
		
		function getStdYymm(){
			var inputYear = $("#inputYear").val();
			var inputMonth = $("#inputMonth").val();
			var inputStdYymm = inputYear + ((inputMonth.length != 0) ? inputMonth.padStart(2, "0"): "");
			if (inputStdYymm.length != 6){
				inputStdYymm = null;
			}
			return inputStdYymm
		}

		function getList(input) {
			console.log("getList input : " + input);
			var option = {
						 id		: "SelectList"
						 , type		: "post"
						 , url		 : "/BIZFST001M0SelectList"
						 , async	 : false
						 , dataType	: "json"
						 , contentType : "application/json; charset=utf-8"
						 , data		: input
						 };
			
			gf_Transaction(option, fn_callback);
		}
		
		// settle 함수에 보낼 데이터를 가져오는 함수
		function getSettle(){
			var input	=	JSON.stringify({ 
							searchTxt: $("#inpSearchTxt").val()
						,	stdYymm: getStdYymm()
						});
			//console.log("getSettle input : " + input);

			if(confirm("Do you want to Settle accounts?") == true){
				settle(input);
			}
		}
		
		function settle(input) {
			
			//console.log("settle input : " + input);
			var option = {
						 id		: "ExecuteList"
						 , type		: "post"
						 , url		 : "/BIZFST001M0ExecuteList"
						 , async	 : false
						 , dataType	: "text"
						 , contentType : "application/json; charset=utf-8"
						 , data		: input
						 };
			
			gf_Transaction(option, fn_callback);
		}

	</script>
	<script>
		$(document).ready(function () {
			
		console.log("Document is ready.");
		
		$("#inputYear").val(gv_year);
		$("#inputMonth").val(gv_month);
			
		//화면 접속시 바로 조회
		main();
		
		//send버튼 누르면, 조건적용하여 검색
		$("#send").click(main);
		
		//엔터키누르면, 조건적용하여 검색
		$("input").on("keyup", function (key) {
			if (key.keyCode == 13) {
			main();
			}
		});
		
		});

		var grid;
		var dataView;
		var data;
		var unqId = "rowNumber";
		var xcpt_cols = [unqId, "frstRegEmpNo", "frstRegDtm"];
		var check_cols = [unqId, "atitNm"];
		var	columns	=	[
				{id: "atitCd", 			name: "Account Code", 			field: "atitCd",			width: 240,	sortable: true,	editor: Slick.Editors.Text, 	formatter: TreeArchFormatter,	validator: createValidator, 			headerCssClass: "slick-header-columns", 			cssClass: "slick-column-left" 	}
			,	{id: "atitNm", 			name: "Account Name", 			field: "atitNm", 			width: 400,	sortable: true,	editor: Slick.Editors.Text, 	validator: createValidator, 			headerCssClass: "slick-header-columns", 			cssClass: "slick-column-left" 		}
			,	{id: "basAmt", 			name: "Basis of Term", 			field: "basAmt", 			width: 150,	sortable: true,	editor: Slick.Editors.Text, 	validator: createValidator, 			formatter: currencyFormatter, 			headerCssClass: "slick-header-columns", 			cssClass: "slick-column-right" 		}
			,	{id: "drAmt", 			name: "Dr", 					field: "drAmt", 			width: 150,	sortable: true,	editor: Slick.Editors.Text, 	validator: createValidator, 			formatter: currencyFormatter, 			headerCssClass: "slick-header-columns", 			cssClass: "slick-column-right" 		}
			,	{id: "crAmt", 			name: "Cr", 					field: "crAmt", 			width: 150,	sortable: true,	editor: Slick.Editors.Text, 	validator: createValidator, 			formatter: currencyFormatter, 			headerCssClass: "slick-header-columns", 			cssClass: "slick-column-right" 		}
			,	{id: "entmAmt", 		name: "End of Term", 			field: "entmAmt", 			width: 150,	sortable: true,	editor: Slick.Editors.Text, 	validator: createValidator, 			headerCssClass: "slick-header-columns", 			formatter: currencyFormatter, 			headerCssClass: "slick-header-columns", 			cssClass: "slick-column-right" 		}
			,	{id: "frstRegEmpNo", 	name: "Registrant", 			field: "frstRegEmpNo", 		width: 100,	sortable: true,	editor: Slick.Editors.Text, 	headerCssClass: "slick-header-columns", 			cssClass: "slick-column-center" 		}
			,	{id: "frstRegDtm", 		name: "Registration Date", 		field: "frstRegDtm", 		width: 120,	sortable: true,	editor: Slick.Editors.Text, 	headerCssClass: "slick-header-columns", 			cssClass: "slick-column-center" 		}
		];

		var options = {
			enableCellNavigation: true,
			enableColumnReorder: false,
			forceFitColumns: false,
			multiColumnSort: true,
			numberedMultiColumnSort: true,
			tristateMultiColumnSort: true,
			sortColNumberInSeparateSpan: true,
			enableAutoSizeColumns: true,
			editable: false, // grid도 편집가능.. grid 편집 기능 제거 필요..
			enableAddRow: true,
			asyncEditorLoading: false,
			autoEdit: false,
			autoEditNewRow: false,
			rowHeight: 35,
		};

		var newRowIds = 0;

		var pluginOptions = {
			clipboardCommandHandler: function (editCommand) {
				undoRedoBuffer.queueAndExecuteCommand.call(
				undoRedoBuffer,
				editCommand
				);
			},
			readOnlyMode: false,
			includeHeaderWhenCopying: false,
			newRowCreator: function (count) {
				for (var i = 0; i < count; i++) {
					var item = {
						id: "newRow_" + newRowIds++,
					};
					grid.getData().addItem(item);
				}
			},
		};
	
		function main() {
			// 그리드 초기화 및 데이터 로드
			console.log("Initializing SlickGrid...");
			getList(
						(input	=	JSON.stringify({ 
									searchTxt: $("#inpSearchTxt").val()
								,	stdYymm: getStdYymm()
						}))
				 );
		}
		
		
		function getSearch() {
			// 그리드 초기화 및 데이터 로드
			console.log("Initializing SlickGrid...");
			
			if ( $("#inputMonth").val() === "" && $("#inputYear").val() === "") {
				alert("Please select a year, month!");
				return;
			} else if ($("#inputYear").val() === "") {
				alert("Please select a year to continue!");
				return;
			} else if ($("#inputMonth").val() === "") {
				alert("Please select a month to continue!");
				return;
			} 
			
			const element = document.getElementById("divMyGrid");
			element.innerHTML = "";
			
			getList(
						(input	=	JSON.stringify({ 
									searchTxt: $("#inpSearchTxt").val()
								,	stdYymm: getStdYymm()
						}))
				 );
		}
		
		/**
		* Transaction callback 함수
		**/
		function fn_callback(result){
			console.log("fn_callback : " + result.id);
			if( result.resultCd == "S" ){
				let resultData = typeof result.data === "string" ? JSON.parse(result.data) : result.data;
				switch (result.id){
					case "SelectList" :

						fn_setGrid(resultData);

						break;
					case "ExecuteList" :
						console.log("executeList case");
						if ( resultData.resultCode == "200" ) {
						alert("Successfully Settled");
						main();
						} else {
							alert( "Save Fail Error : " + resultData.resultMessage );
						}
					break;
				}

			} else if( result.resultCd == "E") {
			} else {
				console.log("fn_callback result : ", result);
			}
		}

		function fn_setGrid(data){
			data = fn_getDataForTree(data, "atitCd", "hgrkAtitCd", "levelCd", 2)
			
			dataView = new Slick.Data.DataView( { idField: unqId });
			grid	 = new Slick.Grid("#divMyGrid", dataView, columns, options);
			
			// Make the grid respond to DataView change events.
			dataView.onRowCountChanged.subscribe(function (e, args) {
				grid.updateRowCount();
				grid.render();
			});
			
			dataView.onRowsChanged.subscribe(function (e, args) {
				grid.invalidate();
				grid.render();
			});
			
			// setItems의 두번째 argument를 통해 unique id에 해당하는 컬럼 지정가능
			dataView.beginUpdate();
			dataView.setItems(data, unqId);
			dataView.setFilter(treeFilter);
			dataView.endUpdate();
			
			// when "onBeforeSort" returns false, the "onSort" won't execute (for example a backend server error while calling backend query to sort)
			grid.onBeforeSort.subscribe(function (e, args) {
				return true;
			});
			
			grid.onClick.subscribe(function (e, args) {
				if (e.getNativeEvent().target.classList.contains("toggle")) {
					var item = dataView.getItem(args.row);
					if (item) {
						if (!item._collapsed) {
							item._collapsed = true;
						} else {
							item._collapsed = false;
						}
						dataView.updateItem(item[unqId], item);
					}
					e.stopImmediatePropagation();
				}
			});
			grid.setSelectionModel(new Slick.CellSelectionModel());
			grid.registerPlugin(new Slick.AutoTooltips());
	
			// set keyboard focus on the grid
			grid.registerPlugin(new Slick.CellExternalCopyManager(pluginOptions));
	
			grid.onAddNewRow.subscribe(function (e, args) {
				var newItem = args.item;
				var column = args.column;
				dataView.beginUpdate();
				dataView.setItems(data);
				dataView.endUpdate();
				grid.updateRowCount();
				grid.render();
			});
	
			grid.onBeforeEditCell.subscribe(function (e, args) {
				console.log("onBeforeEditCell");
			});
	
				grid.onCellChange.subscribe(function (e, args) {
					dataView.beginUpdate();
					dataView.setItems(data);
					dataView.endUpdate();
					grid.updateRowCount();
					grid.render();
				});
	
			grid.onValidationError.subscribe(function (e, args) {
				// handle validation errors originating from the CompositeEditor
				if (args.validationResults) {
				let errorMsg = args.validationResults.msg || "";
				if (args.editor && args.editor instanceof Slick.CompositeEditor) {
					if (args.validationResults.errors) {
					errorMsg += "\n";
					args.validationResults.errors.forEach(function (
						error,
						errorIndex
					) {
						const columnName = error.editor.args.column.id;
						errorMsg += `${columnName.toUpperCase()}: ${error.msg}`;
					});
					}
					console.log(errorMsg);
				}
				} else {
				alert(errorMessages);
				}
			});
	
			grid.setActiveCell(0, 0);
			console.log("SlickGrid initialized.");
		}

		// Download Excel functionality
		document.getElementById("downloadExcel").addEventListener("click", function () {
			const currDate = getCurrentDateTime();
			const fileName = "BIZFST001_FM_" + currDate; // 원하는 파일 이름으로 변경 가능
			const sheetName = "재무제표(BS)"; // 시트 이름
			const gridColumns = columns; // SlickGrid의 컬럼 배열
			const gridData = dataView.getItems(); // SlickGrid의 데이터 배열
			exportToExcel(fileName, sheetName, gridColumns, gridData);
		});

		// 신규버튼 누르면 동작하는 함수
		function openDetails(modalType) {
			grid.render();
	
			let originalData = null; // 수정 직전의 데이터를 저장할 변수
	
			if (grid.getEditorLock().isActive() && !grid.getEditorLock().commitCurrentEdit()) {
			return;
			}
	
			//신규버튼을 누르면 가장 아래 셀을 선택 후 신규만 입력하도록 ActiveCell을 설정
			if (modalType === "create") {
				this.grid.setActiveCell(grid.getDataLength(), 0);
			}
	
			var activeCell = this.grid.getActiveCell();
			var activeRow = (activeCell && activeCell.row) || 0;
	
			if (!options.enableCellNavigation) {
				throw new Error('Composite Editor requires the flag "enableCellNavigation" to be set to True in your Grid Options.');
			} else if (!activeCell && modalType === "edit") {
				throw new Error("No records selected for edit operation");
			} else {
				var dataContext = grid.getDataItem(activeRow);
				var isWithMassUpdate =
				modalType === "mass-update" || modalType === "mass-selection";
				lastActiveRowNumber = activeRow;
	
				// 수정 직전의 데이터 저장
				if (modalType === "edit") {
					originalData = JSON.parse(JSON.stringify(dataContext));
					console.log("originalData: ", originalData);
				}
	
				// focus on a first cell with an Editor (unless current cell already has an Editor then do nothing)
				// also when it's a "Create" modal, we'll scroll to the end of the grid
				var rowIndex = modalType === "create" ? data.length : activeRow;
				focusOnFirstCellWithEditor(columns, rowIndex, isWithMassUpdate);
	
				if (modalType === "edit" && !dataContext) {
					alert("Current row is not editable");
				return;
				} else if (modalType === "mass-selection") {
					var selectedRowsIndexes = grid.getSelectedRows();
					if (selectedRowsIndexes.length < 1) {
						alert("You must select some rows before trying to apply new value(s)");
					return;
					}
				}
	
				var modalColumns;
	
				//업데이트 대상제외 컬럼 필터링
				var selColumns = [];
				for (let index = 0; index < columns.length; index++) {
					const element = columns[index];
					if (xcpt_cols.includes(element["id"])) {
						continue;
					} else {
						selColumns.push(element);
					}
				}
	
				if (isWithMassUpdate) {
					// when using Mass Update, we only care about the columns that have the "massUpdate: true", we disregard anything else
					modalColumns = selColumns.filter(function (col) {
						return col && col.massUpdate && col.editor;
					});
				} else {
					modalColumns = selColumns.filter(function (col) {
						return col && col.editor;
				});
				}
	
				let headerTitle = "";
				switch (modalType) {
					case "create":
						headerTitle = "계정과목관리 추가";
						break;
					case "edit":
						headerTitle = `계정과목관리 수정`;
						break;
					case "mass-update":
						headerTitle = "Mass Update (all rows)";
						break;
					case "mass-selection":
						headerTitle = "Update on Current Selection";
						break;
				}
	
				const modalElm = document.createElement("div");
				modalElm.className = "modal slick-composite-editor-modal";
	
				const modalHeaderElm = document.createElement("div");
				modalHeaderElm.className = "modal-header";
				modalHeaderElm.innerHTML = `<h5>${headerTitle}</h5>
					<button type="button" class="close" data-action="close" aria-label="Close">
					<span aria-hidden="true">×</span>
					</button>`;
				modalElm.appendChild(modalHeaderElm);
	
				const modalBodyElm = document.createElement("div");
				modalBodyElm.className = "modal-body";
	
				for (const column of modalColumns) {
					if (column.editor) {
						const detailLabelElm = document.createElement("div");
						detailLabelElm.className = `item-details-label editor-${column.id}`;
						detailLabelElm.textContent = column.name;
		
						const detailContainerElm = document.createElement("div");
						detailContainerElm.className = "item-details-editor-container";
						detailContainerElm.dataset.editorid = column.id;
						detailContainerElm.style.height = column.id === "desc" ? "inherit" : "20px";
		
						const detailValidationElm = document.createElement("div");
						detailValidationElm.className = `item-details-validation editor-${column.id}`;
		
						modalBodyElm.appendChild(detailLabelElm);
						modalBodyElm.appendChild(detailContainerElm);
						modalBodyElm.appendChild(detailValidationElm);
					}
				}
	
				modalElm.appendChild(modalBodyElm);
	
				let saveActionType = modalType === "create" || modalType === "edit" ? "save" : modalType;
				let saveButtonText = modalType === "create" || modalType === "edit" ? "Save" : modalType === "mass-update" ? "Apply Mass Update" : "Apply Update to Current Selection";
	
				const modalFooterElm = document.createElement("div");
				modalFooterElm.className = "modal-footer";
	
				const saveBtnElm = document.createElement("button");
				saveBtnElm.className = "slick-btn slick-btn-primary";
				saveBtnElm.dataset.action = saveActionType;
				saveBtnElm.textContent = saveButtonText;
	
				// Delete 버튼 추가
				const deleteBtnElm = document.createElement("button");
				deleteBtnElm.className = "slick-btn slick-btn-default";
				deleteBtnElm.dataset.action = "delete";
				deleteBtnElm.textContent = "Delete";
				deleteBtnElm.type = "submit"; // button type 설정
	
				const cancelBtnElm = document.createElement("button");
				cancelBtnElm.className = "slick-btn slick-btn-default";
				cancelBtnElm.dataset.action = "cancel";
				cancelBtnElm.textContent = "Cancel";
	
				modalFooterElm.appendChild(saveBtnElm);
				if (modalType === "edit") {
					modalFooterElm.appendChild(deleteBtnElm);
				}
				modalFooterElm.appendChild(cancelBtnElm);
				modalElm.appendChild(modalFooterElm);
	
				document.body.appendChild(modalElm);
	
				modalElm.addEventListener("focusout", function (e) {
					validateCompositeEditors(e.target);
				});
	
				modalElm.addEventListener("keydown", function (e) {
					if (e.which == Slick.keyCode.ESCAPE) {
						grid.getEditController().cancelCurrentEdit();
						grid.setActiveRow(lastActiveRowNumber, (suppressScrollIntoView = true));
						e.stopPropagation();
						e.preventDefault();
					} else if (e.which === Slick.keyCode.TAB) {
						validateCompositeEditors(e.target);
					}
				});
	
				//modal을 마우스로 드래그가능하도록 설정
				$(".modal").draggable();
	
				grid.onClick.subscribe(function (e, args) {
					renewOptions(false);
				});
	
				if (modalElm.querySelector("[data-action=save]")) {
					modalElm.querySelector("[data-action=save]").addEventListener("click", function (e, args) {
						const formData = {};
						modalColumns.forEach((column) => {
							const container = modalBodyElm.querySelector(`[data-editorid="${column.id}"]`);
							if (container) {
								const input = container.querySelector("input, select");
								if (input) {
									formData[column.id] = removeSpaces(input.value); // 띄어쓰기 삭제로직추가
								}
							}
						});
	
						if (modalType === "create") {
							//데이터 추가
							//DB Insert 요청
							if (checkData(formData)) {
								insertFile(formData);
								//formData[unqId] = grid.getDataLength() + 1;
								dataView.insertItem(unqId, formData);
							} else {
								alert("No new data to save");
							}
						} else if (modalType === "edit") {
							//업데이트
							var isChanged = false;
		
							//기존데이터 확인
							const orgData = originalData;
		
							// 변경된 데이터가 있는지 확인
							for (var key in formData) {
								if (formData[key] !== orgData[key]) {
									isChanged = true;
									break;
								}
							}
	
							// 변경된 데이터가 있는 경우에만 업데이트 요청
							if (checkData(formData) && isChanged) {
								//DB Update 요청
								const _formData = { ...formData };
								_formData[unqId] = orgData[unqId];
								updateFile(_formData);
							} else if (!checkData(formData) && isChanged) {
								alert("Please check data.");
							} else if (checkData(formData) && !isChanged) {
								alert("No changes detected, update request not sent.");
							} else {
								alert("No changes detected and Need to check data.");
							}
						}
						grid.getEditController().commitCurrentEdit();
						grid.render();
						renewOptions(false);
					});
				}
	
				if (modalElm.querySelector("[data-action=delete]")) {
					modalElm.querySelector("[data-action=delete]").addEventListener("click", function (e, args) {
						const formData = {};
						modalColumns.forEach((column) => {
							const container = modalBodyElm.querySelector(`[data-editorid="${column.id}"]`);
							if (container) {
								const input = container.querySelector("input, select");
								if (input && column.id === unqId) {
									formData[column.id] = removeSpaces(input.value); // 띄어쓰기 삭제로직추가
								}
							}
						});
						//formData[unqId] = selectedValue;
						// DB Delete 요청
						if (formData) {
							deleteFile(formData);
							data = data.filter(function (item) {
							return item[unqId] !== formData[unqId];
							});
							dataView.setItems(data, unqId1, unqId2, unqId3);
							grid.getEditController().commitCurrentEdit();
							grid.render();
						}
						renewOptions(false);
					});
				}
	
				// Apply a Mass Update change (apply changes to all items in the dataset)
				if (modalElm.querySelector("[data-action=mass-update]")) {
					modalElm.querySelector("[data-action=mass-update]").addEventListener("click", function () {
						var validationResults = validateCompositeEditors();
						var isFormValid = validationResults.valid;
		
						if (isFormValid && lastCompositeEditor && lastCompositeEditor.formValues) {
							// from the "lastCompositeEditor" object that we kept as reference, it contains all the changes inside the "formValues" property
							// we can loop through these changes and apply them on the selected row indexes
							for (const itemProp in lastCompositeEditor.formValues) {
								if (lastCompositeEditor.formValues.hasOwnProperty(itemProp)) {
									data.forEach(function (item) {
										if (item.hasOwnProperty(itemProp) && lastCompositeEditor.formValues.hasOwnProperty(itemProp)) {
											item[itemProp] =
											lastCompositeEditor.formValues[itemProp];
										}
									});
								}
							}
	
							// change the entire dataset with our updated dataset
							grid.setData(data, true);
							grid.invalidate();
	
							// once we're done doing the mass update, we can cancel the current editor since we don't want to add any new row
							// that will also destroy/close the modal window
							grid.getEditController().cancelCurrentEdit();
							grid.setActiveCell(0, 0, false);
						}
					});
				}
	
				const closeBtns = modalElm.querySelectorAll("[data-action=cancel],[data-action=close]");
				closeBtns.forEach((btn) => {
					btn.addEventListener("click", function () {
						// 원래 데이터로 복원
						if (originalData) {
							dataView.updateItem(originalData[unqId], originalData);
						}
						renewOptions(false);
						grid.getEditController().cancelCurrentEdit();
						grid.invalidate();
					});
				});
	
				var containers = modalColumns.map(function (c) {
				return modalElm.querySelector(`[data-editorid=${c.id}]`);
				});
	
				var compositeEditor = new Slick.CompositeEditor(modalColumns, containers,
																	{
																	destroy: function () {
																		modalElm.remove();
																		},
																		modalType: modalType,
																		// validationMsgPrefix: '* '
																	}
																);
				console.log("grid Active Column: ", grid.columns[grid.activeCell]);
				console.log(grid.isCellPotentiallyEditable(grid.activeRow, grid.activeCell));
				grid.editActiveCell(compositeEditor);
			}
		}
		</script>
	</th:block>
</html>
