<!doctype html>
<html lang="en">
 	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="ie=edge; chrome=1"/>
		<meta name="_csrf_token" th:content="${csrfToken}">
		<meta name="_csrf_parameter" th:content="${csrfParameterName}">
		<meta name="_csrf_header" th:content="${csrfHeaderName}">
		<title>iFrame 2.0 - Cloud IFRS17 Closing Services</title>
		<!-- CSS file -->
		<link href="css/css-tabler/tabler.min.css?1692870487" rel="stylesheet"/>
		<!-- Javascript file -->
		<script src="js/js-tabler/tabler.min.js?1692870487" defer></script>
		<script src="js/jquery-3.7.1.min.js"></script>
		<script src="js/utils.js"></script>
		<style>
			@import url('css/inter.css');
			:root {
			--tblr-font-sans-serif: 'Inter Var', -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
			}
		</style>
	</head>
	<body oncontextmenu="return false" onselectstart="return false" ondragstart="return false">
		<div class="page page-center">
    		<div class="container container-tight">
    			<div class="text-center mb-5">
					<span class="navbar-brand" data-bs-toggle="tooltip" data-bs-placement="top" title="Cloud IFRS17 Closing Services">
					<span style="font-style: italic; font-size: 2em; font-family: Times New Roman; color: #0054a6;">i</span><span style="font-size: 2em; color: #0054a6;">Frame 2.0</span></span>
				</div>
			    <form class="card card-md" id="passwordResetForm" name="passwordResetForm" method="post" autocomplete="off" onsubmit="return false;">
			    	<input type="hidden" th:name="${csrfParameterName}" th:value="${csrfToken}" />
					<div class="card-body">
						<h2 class="card-title text-center mb-4">New password</h2>
						<p class="text-secondary mb-4">The initialized password is no longer valid. Please enter a new password.</p>
						<div class="form-floating mb-2">
							<input type="password" class="form-control" id="newPassword" name="newPassword" minLength="8" maxLength="20" placeholder="your password" autocomplete="off" required>
							<label for="newPassword">your password</label>
						</div>
						<div class="form-floating mb-2">
							<input type="password" class="form-control" id="confirmNewPassword" name="confirmNewPassword" minLength="8" maxLength="20" placeholder="re-enter your password" autocomplete="off" required>
							<label for="confirmNewPassword">re-enter your password</label>
						</div>
						<div class="form-footer">
							<button type="submit" class="btn btn-primary w-100" onclick="submitPasswordChange()">Submit</button>
						</div>
			    </form>
			</div>
		</div>
		<div class="text-center text-secondary mt-3 mb-3">
			<span style="font-size: 0.7em;">Copyright © 2024 RNA Data System. All Rights Reserved.</span>
		</div>
		<form id="form" name="form" method="post" action="/menuLink">
			<input type="hidden" id="pageName" name="pageName" />
			<input type="hidden" th:name="${csrfParameterName}" th:value="${csrfToken}" />
		</form>

<script>
    function submitPasswordChange() {
        var vNewPassword        = $("#newPassword").val();
        var vConfirmNewPassword = $("#confirmNewPassword").val();
        var csrfToken     = $("meta[name='_csrf_token']").attr("content");
    	var csrfHeader    = $("meta[name='_csrf_header']").attr("content");
    	if ( isNull(vNewPassword) == "" ) {
            alert("Enter new password.");
            $("#newPassword").focus();
    		return;
    	}
    	if ( isNull(vConfirmNewPassword) == "" ) {
            alert("Re-enter new password.");
            $("#confirmNewPassword").focus();
    		return;
    	}
        if (vNewPassword !== vConfirmNewPassword) {
            //alert("비밀번호가 일치하지 않습니다. 다시 확인해주세요.");
            alert("The two inputs for new password do not match. Please enter it again.");
            $("#confirmNewPassword").focus();
            return;
        }
        const requestData = {
        	usrNewPassword: vNewPassword
        };
        $.ajax({
            type: "post",
            url: "/auth/adamsLoginPw",
            async: false,
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(requestData),
            beforeSend: function (xhr) {
	            // 헤더에 CSRF 토큰을 포함
	            xhr.setRequestHeader(csrfHeader, csrfToken);
	        },
            success: function (response, textStatus, xhr) {
                alert("Your password has been changed successfully.");
                if(xhr.status == 200) {
					console.log("Success Logout. Go to Login page.");
					$.get("/TokenRefresh", function(data) {
					var newCsrfToken = data;  // 새로운 CSRF 토큰
					// 기존 메타 태그 및 hidden input에서 CSRF 토큰을 업데이트
					$("meta[name='_csrf_token']").attr("content", newCsrfToken);
					
					// /login 페이지로 이동
					$("input[name='CSRF_TOKEN']").val(newCsrfToken);  // th:name="CSRF_TOKEN"태크의 csrf 토큰 값을 업데이트
					$("#pageName").val("/login");  // 이동할 페이지 설정
					$("#form").submit();  // 폼 전송
					});
				}
                $("#pageName").val("login");
                $("#form").submit();
            },
            error: function (xhr, status, error) {
                alert("An error occurred. Please try again.");
            }
        });
    }
</script>

	</body>
</html>