<!doctype html>
<html lang="en">
 	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="ie=edge; chrome=1"/>
		<meta name="_csrf" th:content="${_csrf.token}">
		<meta name="_csrf_header" th:content="${_csrf.headerName}">
		<title>iFrame 2.0 - Cloud IFRS17 Closing Services</title>
		<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
		<!-- CSS file -->
		<link href="css/css-tabler/tabler.min.css?1692870487" rel="stylesheet"/>
		<!-- Javascript file -->
		<script src="js/js-tabler/tabler.min.js?1692870487" defer></script>
		<script src="js/jquery-3.7.1.min.js"></script>
    	<script src="js/utils.js"></script>
		<style>
			@import url('css/inter.css');
			:root {
			--tblr-font-sans-serif: 'Inter Var', -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
			}
		</style>
	</head>
	<body oncontextmenu="return false" onselectstart="return false" ondragstart="return false">
		<div class="page page-center">
    		<div class="container container-tight">
    			<div class="text-center mb-4">
					<span class="navbar-brand" data-bs-toggle="tooltip" data-bs-placement="top" title="Cloud IFRS17 Closing Services">
					<span style="font-style: italic; font-size: 2em; font-family: Times New Roman; color: #0054a6;">i</span><span style="font-size: 2em; color: #0054a6;">Frame 2.0</span></span>
				</div>
			    <form class="card card-md" id="resetPasswordForm" name="resetPasswordForm" method="post" action="/auth/adamsFindPw" autocomplete="off" onsubmit="return false;">
			    	<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
					<div class="card-body text-center">
						<span class="fs-1 fw-bold">Forgot password</span>
						<p class="text-secondary mt-3 mb-4">Please submit the information below. We will reset your password and send you a temporary one by e-mail.</p>

						<div class="form-floating mb-2">
							<select class="form-select" id="companyDivision" name="companyDivision" autocomplete="off" required>
								<option selected value="1">DUNS Number</option>
								<option value="2">Corporation Number</option>
								<option value="3">Business Registration Number</option>
							</select>
							<label for="companyDivision">type of your company identification</label>
						</div>

						<div class="form-floating mb-2">
							<input type="text" class="form-control" id="companyNo" name="companyNo" maxLength="20" placeholder="your company number (without -)" autocomplete="off" required>
							<label for="companyNo">your company number(without -)</label>
						</div>
						<div class="form-floating mb-2">
							<input type="email" class="form-control" id="userId" name="userId" minLength="8" maxLength="50" placeholder="your@email.com" autocomplete="off" required>
							<label for="userId">your@email.com</label>
						</div>

						<div class="form-floating mb-2">
							<input type="text" class="form-control" id="userPhone" name="userPhone" maxLength="20" placeholder="your phone number(without -)" autocomplete="off" required>
							<label for="userPhone">your phone number(without -)</label>
						</div>

						<div class="form-footer">
							<button type="submit" class="btn btn-primary w-100" onclick="submitRequest()">Submit</button>
						</div>
					</div>
			    </form>
			<div class="text-center text-secondary mt-3">
				Forget it, <a href="./login.html" id="gotomain" tabindex="-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Move to login page" style="text-decoration: none;">send me back</a> to the sign in screen.
			</div>
		</div>
		<div class="text-center text-secondary mt-3 mb-3">
			<span style="font-size: 0.7em;">Copyright © 2024 RNA Data System. All Rights Reserved.</span>
		</div>
	</div>
	<form id="form" name="form" method="post" action="/menuLink">
		<input type="hidden" id="pageName" name="pageName" />
		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
	</form>
	
<script>
    function submitRequest() {
        
    	var vCompNoDvCd = $("#companyDivision").val();
    	var vCompNo     = $("#companyNo").val();
    	var vUsrId      = $("#userId").val();
    	var vUsrPhNo    = $("#userPhone").val();
    	var csrfToken     = $("meta[name='_csrf']").attr("content");
    	var csrfHeader    = $("meta[name='_csrf_header']").attr("content");alert
    	if ( isNull(vCompNoDvCd) == "" ) {
            alert("Select type of your company identification.");
           $("#companyDivision").focus();
    		return;
    	}
    	
    	if ( isNull(vCompNo) == "" ) {
    		alert("Enter your company number.");
           $("#companyNo").focus();
    		return;
    	}
    	
    	if ( isNull(vUsrId) == "" ) {
    		alert("Enter your e-mail (ID).");
            $("#userId").focus();
    		return;
    	}

        // 이메일 형식이 올바르지 않은 경우
        if (!validateEmail(vUsrId)) {
        	alert("Incorrect e-mail address. Please enter it again."); // 오류 메시지 표시
            $("#userId").focus();
            return;
        }

    	if ( isNull(vUsrPhNo) == "" ) {
    		alert("Enter your phone number.");
            $("#userPhone").focus();
    		return;
    	}
    	
    	var cfm_notice = confirm("Do you want to send a request to reset your password?");
    	
		if (cfm_notice) {

	    	const requestData = {
	              compNoDvCd : vCompNoDvCd
	            , compNo     : vCompNo
	            , usrId      : vUsrId
	            , usrPhNo    : vUsrPhNo
	        };
	
	        $.ajax({
	            type: "post",
	            url: "/auth/adamsFindPw",
	            async: false,
	            dataType: "json",
	            contentType: "application/json; charset=utf-8",
	            data: JSON.stringify(requestData),
	            beforeSend: function (xhr) {
		            // 헤더에 CSRF 토큰을 포함
		            xhr.setRequestHeader(csrfHeader, csrfToken);
		        },
	            success: function (data) {
	                
	            	if ( data.resultCode == "200" ) {
		                alert("Your request has been sent successfully. Please check your e-mail in a few minutes.");
		
						console.log("AJAX request successful. Data received:", data);
						
						$("#pageName").val(data.redirectUrl);
						$("#form").submit();
	            	} else {
		                alert("Your request has NOT been processed.Please check the values you entered.");
		                
						console.log("AJAX request fail. Data received:", data);
	            	}
	            },
	            error: function (xhr, status, error) {
	            	alert("Your request has NOT been processed. Please check the values you entered and try again.");
	            	gf_errorHandler(xhr);
	            }
	        });
		} else {
			return false;
		}
    }

	function goMenuPage (pageName) {
		$("#pageName").val(pageName);
		$("#form").submit();
	};
	$(document).ready(function () {
		$('#gotomain').click(function(e){
			e.preventDefault(); // 링크 기본 동작 방지
			console.log("Pushed logoutButten.");
			$.ajax({
					type: "GET",
					url: "/auth/adamsLogout",
					async: true,
					dataType: "json",
					contentType: "application/json; charset=utf-8",
					success: function (response, textStatus, xhr) {
						if(xhr.status == 200) {
							console.log("Success Logout. Go to Login page.");
							
							$.ajax({
								type: "GET",
								url: "/TokenRefresh",
								async: false,
								dataType: 'json',
								contentType: "application/json; charset=utf-8",
								success: function(data) {
			                        var newCsrfToken = data.token;  // 새로운 CSRF 토큰
			                        console.log("New Token: " + newCsrfToken);

			                        // 기존 메타 태그 및 hidden input에서 CSRF 토큰을 업데이트
			                        $("meta[name='_csrf']").attr("content", newCsrfToken);
			                        $("input[name='CSRF_TOKEN']").val(newCsrfToken);  // th:name="CSRF_TOKEN"태크의 csrf 토큰 값을 업데이트
			                        
			                        // /login 페이지로 이동
			                        $("#pageName").val("login");  // 이동할 페이지 설정
								    $("#form").submit();  // 폼 전송
			                    },
			                    error: function(xhr, textStatus, errorThrown) {
									console.error('Request failed: ' + textStatus);
								}
							});
						}
					},
					error: function(xhr, textStatus, errorThrown) {
						console.error('Request failed: ' + textStatus);
						gf_errorHandler(xhr);
					}
			});
		});
	});   
</script>

	</body>
</html>