<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<th:block layout:fragment="content">
	<script src="js/js-tabler/demo-theme.min.js?1692870487"></script>
	<div class="page-wrapper" id="page-wrapper">
		<div class="container" id="container">
			<h2>[[${menuNm}]]</h2>
			<div class="ptag-container">
				<span>[[${navigator}]]</span>
				<div class="form-container">
					<div class="form-box">
						<form id="filter-form" name="form" method="post" action="/WRKBAT002M0SelectList" onsubmit="return false;">
							<div class="row">
								<!-- Year Select -->
								<div class="col-auto">
									<label class="form-label">Standard Year / Month :</label>
									<select name="user[year]" class="form-select select-month-year p-1" id="inputYear">
										<option selected value="">- Year -</option>
										<!-- Year Options -->
										<option value="2024">2024</option>
									</select>
								</div>
								<!-- Month Select -->
								<div class="col-auto">
									<label class="form-label"> &nbsp; </label>
									<select name="user[month]" class="form-select select-month-year p-1" id="inputMonth">
										<option selected value="">- Month -</option>
										<!-- Month Options -->
										<option value="1">January</option>
										<option value="2">February</option>
										<option value="3">March</option>
										<option value="4">April</option>
										<option value="5">May</option>
										<option value="6">June</option>
										<option value="7">July</option>
										<option value="8">August</option>
										<option value="9">September</option>
										<option value="10">October</option>
										<option value="11">November</option>
										<option value="12">December</option>
									</select>
								</div>
								<div class="col-auto">
									<label class="form-label"> Program ID or Name : </label> <input id="inpSearchTxt" name="inpSearchTxt" type="text" class="form-control p-1" placeholder="Program ID or Name" />
								</div>
								<div class="col-auto">
									<button type="button" class="btn btn-primary search-button p-1" style="padding: 4px 10px; color: white; font-size: 13px" onclick="getSearch()">Search</button>
								</div>
								<div class="col text-end flex-direction:row">
									<p style="height:27px;">&nbsp;</p>
									<button type="button" class="btn btn-primary" style="padding: 4px 10px; color: white; font-size: 13px" id="executeBatch">Execute</button>
									<button type="button" class="btn btn-lime" style="padding: 4px 10px; color: white; font-size: 13px" id="downloadExcel">Download</button>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div style="padding-top: 2em"></div>
				<div class="card card-md" id="divMyGrid">
				</div>
			</div>
			<div class="popupDataForm">
				<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" style="display: none">Launch modal with form</button>
				<div class="modal fade" id="exampleModal" tabindex="-1" style="display: none">
					<div class="modal-dialog modal-small" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title">New report</h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>
							<div class="modal-body">
								<div class="row"></div>
							</div>
							<div class="modal-footer">
								<a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">Cancel</a> <a href="#" class="btn btn-primary ms-auto" data-bs-dismiss="modal" style="padding: 4px 10px; color: white; font-size: 13px">Save changes</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="js/utils.js"></script>
	<script>
		function checkData(data) {
			return parentCheckData(data, check_cols);
		}
	
		function getList(input) {
			console.log("getList input : " + input);
			var option = {
							id			: "SelectList"
						, type			: "post"
						, url			: "/WRKBAT002M0SelectList"
						, async			: false
						, dataType		: "json"
						, contentType	: "application/json; charset=utf-8"
						, data			: input
						};
			
			gf_Transaction(option, fn_callback);
		}	
		</script>
	<script>
		$(document).ready(function () {

			console.log("Document is ready.");
			
			$("#inputMonth").val(gv_month);			
			$("#inputYear").val(gv_year);
			
			//화면 접속시 바로 조회
			main();
			//send버튼 누르면, 조건적용하여 검색
			$("#send").click(main);
			//엔터키누르면, 조건적용하여 검색
			$("input").on("keyup", function (key) {
				if (key.keyCode == 13) {
					main();
				}
			});

		});
	
		var grid;
		var dataView;
		var data;
		var unqId = "batProgId";
		var xcpt_cols = ["frstRegEmpNo", "frstRegDtm"];
		var check_cols = [unqId, "batProgNm"];
		
		// CheckBox Selector
		var checkboxSelector1 = new Slick.CheckboxSelectColumn({
			cssClass: "slick-cell-checkboxsel"
			});
		
		var selectedIndexes;
		var selectedPrograms = [];
		
		// 기준년월 준비
		var inputMonth;
		var inputYear;
		var stdYymm;
		
		var columns = [
						checkboxSelector1.getColumnDefinition()	 
					, { id: unqId,			name: "Program ID",			field: unqId,			width: 80,	sortable: true,	editor: Slick.Editors.Text,validator: (value,args) => complexValidator(value,args,[createValidator,noWhitespaceValidator]),headerCssClass: "slick-header-columns",cssClass: "slick-column-center" }
					, { id: "batProgNm",	name: "Program Name",		field: "batProgNm",		width: 200,	sortable: true,	editor: Slick.Editors.Text,validator: createValidator,headerCssClass: "slick-header-columns", cssClass: "slick-column-left" }
					, { id: "upProgId",		name: "Group Name",			field: "upProgId",		width: 150,	sortable: true,	editor: Slick.Editors.Text,validator: (value,args) => complexValidator(value,args,[ createValidator,noWhitespaceValidator,]),headerCssClass: "slick-header-columns",cssClass: "slick-column-center" }
					, { id: "exePrd",		name: "Cycle",				field: "exePrd",		width: 80,	sortable: true,	editor: function (args) { return new ComboBoxEditor( args,[ { key: "Y", value: "Y" },{ key: "Q", value: "Q" },{ key: "M", value: "M" },] ); },headerCssClass: "slick-header-columns",cssClass: "slick-column-center" }
					, { id: "mainEmpNo",	name: "Main User",			field: "mainEmpNo",		width: 120,	sortable: true,	editor: Slick.Editors.Text,validator: (value,args) => complexValidator(value,args,[ createValidator,noWhitespaceValidator,]),headerCssClass: "slick-header-columns",cssClass: "slick-column-center" }
					, { id: "subEmpNo",		name: "Sub User",			field: "subEmpNo",		width: 120,	sortable: true,	editor: Slick.Editors.Text,validator: (value,args) => complexValidator(value,args,[ createValidator,noWhitespaceValidator,]),headerCssClass: "slick-header-columns",cssClass: "slick-column-center" }
					, { id: "frstRegEmpNo",	name: "Registrant",			field: "frstRegEmpNo",	width: 120,	sortable: true,	editor: Slick.Editors.Text,headerCssClass: "slick-header-columns",cssClass: "slick-column-center"}
					, { id: "frstRegDtm",	name: "Registration Date",	field: "frstRegDtm",	width: 120,	sortable: true,	editor: Slick.Editors.Text,headerCssClass: "slick-header-columns",cssClass: "slick-column-center"}
					];
	
		var options = {
				enableCellNavigation: true
			, enableColumnReorder: false
			, forceFitColumns: true
			, multiColumnSort: true
			, numberedMultiColumnSort: true
			, tristateMultiColumnSort: true
			, sortColNumberInSeparateSpan: true
			, enableAutoSizeColumns: true
			, editable: false
			, enableAddRow: true
			, asyncEditorLoading: false
			, autoEdit: false
			, autoEditNewRow: false
			, rowHeight: 35,
		};
	
		var newRowIds = 0;
	
		var pluginOptions = {
			clipboardCommandHandler: function (editCommand) {
			undoRedoBuffer.queueAndExecuteCommand.call(
				undoRedoBuffer,
				editCommand
			);
			},
			readOnlyMode: false,
			includeHeaderWhenCopying: false,
			newRowCreator: function (count) {
			for (var i = 0; i < count; i++) {
				var item = {
				id: "newRow_" + newRowIds++,
				};
				grid.getData().addItem(item);
			}
			},
		};
		
		function getStdYymm(){
			var inputYear = $("#inputYear").val();
			var inputMonth = $("#inputMonth").val();
			
			// inputYear나 inputMonth가 비어있는지 체크
			if (!inputYear || !inputMonth) {
			return null; // 년도나 월이 비어 있으면 null을 반환
			}
			
			var inputStdYymm = inputYear + ((inputMonth.length != 0) ? inputMonth.padStart(2, "0"): "");
			if (inputStdYymm.length != 6){
				inputStdYymm = null;
			}
			return inputStdYymm
		}
		
		function main() {
			// 그리드 초기화 및 데이터 로드
			console.log("Initializing SlickGrid...");
			getList(
					(input	=	JSON.stringify({ 
													searchTxt	: $("#inpSearchTxt").val()
												,	exePrdList	: getCycleFromYymm(getStdYymm())
												}) 
					)
				);
		}
		
		function getSearch() {
			// 그리드 초기화 및 데이터 로드
			console.log("Initializing SlickGrid...");

			if ( $("#inputMonth").val() === "" && $("#inputYear").val() === "") {
				alert("Please select a year and month.");
				return;
			} else if ($("#inputYear").val() === "") {
				alert("Please select a year.");
				return;
			} else if ($("#inputMonth").val() === "") {
				alert("Please select a month.");
				return;
			} 
			const element = document.getElementById("divMyGrid");
			element.innerHTML = "";
			
			getList(
					(input	=	JSON.stringify({ 
													searchTxt	: $("#inpSearchTxt").val()
												,	exePrdList	: getCycleFromYymm(getStdYymm())
												}) 
					)
				);
		}
		
		let sCnt = 0;
		let fCnt = 0;
		/**
		 * Transaction callback 함수
		**/
		function fn_callback(result){
			console.log("fn_callback : " + result.id);
			if( result.resultCd == "S" ){
				let resultData = typeof result.data === "string" ? JSON.parse(result.data) : result.data;
				switch (result.id){
					case "SelectList" :
						
						fn_setGrid(resultData);
						
					break;
					case "ExecuteList" :
						console.log("executeList case");
						if ( resultData.resultCode == "200" ) {
							sCnt += 1;
							console.log("sCnt "+sCnt);

						} else {
							fCnt += 1;

						}
						break;
					
				}
			} else if( result.resultCd == "E") {
			} else {
				console.log("fn_callback result : ", result);
			}
		}

		function fn_setGrid(data){
			
			dataView = new Slick.Data.DataView( { idField: unqId });
			grid	 = new Slick.Grid("#divMyGrid", dataView, columns, options);
			
			// Make the grid respond to DataView change events.
			dataView.onRowCountChanged.subscribe(function (e, args) {
				grid.updateRowCount();
				grid.render();
			});
			
			dataView.onRowsChanged.subscribe(function (e, args) {
				grid.invalidate();
				grid.render();
			});
						
			// setItems의 두번째 argument를 통해 unique id에 해당하는 컬럼 지정가능
			dataView.setItems(data, unqId);
			
			// when "onBeforeSort" returns false, the "onSort" won't execute (for example a backend server error while calling backend query to sort)
			grid.onBeforeSort.subscribe(function (e, args) {
				return true;
			});				 
				
			// 정렬
			 grid.onSort.subscribe(function (e, args) {
				var cols = args.sortCols;
	
				data.sort(function (dataRow1, dataRow2) {
				 for (var i = 0, l = cols.length; i < l; i++) {
						var field= cols[i].sortCol.field;
						var sign = cols[i].sortAsc ? 1 : -1;
						var value1 = dataRow1[field],
							value2 = dataRow2[field];
						var result =
						(value1 == value2 ? 0 : value1 > value2 ? 1 : -1) * sign;
					if (result != 0) {
						return result;
					}
					}
					return 0;
				});
				grid.render();
				});
		
			grid.setSelectionModel(new Slick.RowSelectionModel({selectActiveRow: false}));
			grid.registerPlugin(new Slick.AutoTooltips());
	
			// set keyboard focus on the grid
			//grid.getCanvasNode().focus();
			grid.registerPlugin(new Slick.CellExternalCopyManager(pluginOptions));
			grid.registerPlugin(checkboxSelector1)
	
			grid.onAddNewRow.subscribe(function (e, args) {
			var newItem = args.item;
			var column = args.column;
			dataView.beginUpdate();
			dataView.setItems(data);
			dataView.endUpdate();
			grid.updateRowCount();
			grid.render();
			});
	
			grid.onBeforeEditCell.subscribe(function (e, args) {
				console.log("onBeforeEditCell");
			});
	
			grid.onCellChange.subscribe(function (e, args) {
				dataView.beginUpdate();
				dataView.setItems(data);
				dataView.endUpdate();
				grid.updateRowCount();
				grid.render();
			});
	
			grid.onValidationError.subscribe(function (e, args) {
			// handle validation errors originating from the CompositeEditor
			if (args.validationResults) {
				let errorMsg = args.validationResults.msg || "";
				if (args.editor && args.editor instanceof Slick.CompositeEditor) {
				if (args.validationResults.errors) {
					errorMsg += "\n";
					args.validationResults.errors.forEach(function (
					error,
					errorIndex
					) {
					const columnName = error.editor.args.column.id;
					errorMsg += `${columnName.toUpperCase()}: ${error.msg}`;
					});
				}
				console.log(errorMsg);
				}
			} else {
				alert(errorMessages);
			}
			});
			
			grid.onSelectedRowsChanged.subscribe(function(e, args) {
				selectedIndexes = args.grid.getSelectedRows();
				selectedPrograms = [];
				
				// Access the data for each selected row using the dataItem method (if needed)
				$.each(selectedIndexes, function(index, value){
					selectedPrograms.push( args.grid.getDataItem(value) )
				})
				console.log("Selected Rows: ", selectedPrograms);
			});
	
			grid.setActiveCell(0, 0);
			console.log("SlickGrid initialized.");
		 };
		 
		function fn_execute_batch(batchProgramId, stdyymm) {
		
			return new Promise((resolve, reject) => {

				var urls = [];
				var input =	JSON.stringify({
					stdYymm		: stdyymm
				});

				switch (batchProgramId) {
					case "B0001":
						urls.push("/BIZINS001M0ExecuteList");
					break;
					case "B0002":
						urls.push("/BIZINS002M0ExecuteList");
					break;
					case "B0003":
						urls.push("/BIZINS003M0ExecuteList");
					break;
					case "B0004":
						urls.push("/BIZJNL003M0ExecuteList");
					break;
					case "B0005":
						// FST001, 002 공통 사용
						urls.push("/BIZFST001M0ExecuteList");
					break;
					case "B0006":
						urls.push("/BIZADT001M0ExecuteList");
					break;				
				}

				let promises = urls.map((url) => {
					return new Promise((resolveAjax, rejectAjax) => {
						var option	=	{
								id			: "ExecuteList"
							,	type		: "post"
							,	url 		: url
							,	dataType	: "text"
							,	contentType	: "application/json; charset=utf-8"
							,	data		: input
							,   success     :  function (response) {
									console.log("Success: ", response);
									fn_callback({
										id: "ExecuteList",
										resultCd: "S",
										data: response
									});
									resolveAjax();
								}
							,   error       : function (error) {
									rejectAjax(error);
								}
						};
						$.ajax(option);
					});
				});

				Promise.all(promises)
					.then(() => {
						resolve();
					})
					.catch((error) => {
						reject(error);
					});

			});
		};
							
		// Download Excel functionality
		document.getElementById("downloadExcel").addEventListener("click", function () {
			const currDate = getCurrentDateTime();
			const fileName = "WRKBAT002_FM_" + currDate; // 원하는 파일 이름으로 변경 가능
			const sheetName = "Job Runs"; // 시트 이름
			const gridColumns = columns; // SlickGrid의 컬럼 배열
			const gridData = dataView.getItems(); // SlickGrid의 데이터 배열
			exportToExcel(fileName, sheetName, gridColumns, gridData);
			});
		
		// Execute Batch programs
		document.getElementById("executeBatch").addEventListener("click", async function () {
			if (selectedPrograms.length > 0){
				if(confirm("Do you want to execute the selected program(s)?")) {
					console.log("selectedPrograms: ", selectedPrograms);
					console.log("Stanard YYMM: ", getStdYymm());

					await showSpinner();

					try {
						for( const row of selectedPrograms) {
							const bPId = row.batProgId;
							await fn_execute_batch(bPId, getStdYymm());
						}
						// await hideSpinner();
					} catch (error) {
						await hideSpinner();
						console.error("Error: ", error);
						alert("An error occurred while executing the batch program(s).");
					} finally {
						await hideSpinner();
						alert("Success "+sCnt+" Fail "+fCnt);
						// 카운트 초기화
						sCnt = 0;
						fCnt = 0;
						document.getElementById("executeBatch").disabled = false;
					}
				} else {
					return;
				}
			} else {
				alert("Please select a program to execute.");
			}
		});
	</script>
</th:block>
</html>
