<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <th:block th:replace="fragments/head :: headFragment"></th:block>
  <body class="bg-white" id="bg-white" oncontextmenu="return false" onselectstart="return false" ondragstart="return false">
    <div class="page">
      <script>
        function goMenuPage(pageName) {
          $("#pageName").val(pageName);
          $("#form").submit();
        }
      </script>
      <form id="form" name="form" method="post" action="/menuLink">
        <input type="hidden" id="pageName" name="pageName" />
        <input type="hidden" th:name="${csrfParameterName}" th:value="${csrfToken}" />
      </form>
      <script>
      	$(document).ready(function () {
      		
      		var csrfToken = $("meta[name='_csrf_token']").attr("content");
    	    var csrfHeader = $("meta[name='_csrf_header']").attr("content");
      		
    	    // 모든 AJAX 요청에 CSRF 토큰을 자동으로 포함시키는 설정
    	    $.ajaxSetup({
    	        beforeSend: function (xhr) {
    	            // 헤더에 CSRF 토큰을 포함
    	            xhr.setRequestHeader(csrfHeader, csrfToken);
    	        }
    	    });
    	});
	  </script>
      <th:block th:replace="fragments/sidebar :: sidebarFragment"></th:block>
      <th:block th:replace="fragments/header :: headerFragment"></th:block>
      <th:block layout:fragment="content"></th:block>
      <th:block th:replace="fragments/footer :: footerFragment"></th:block>
    </div>
  </body>
</html>
