<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<th:block layout:fragment="content">
	<!-- <div class="page"> -->
	<script src="js/js-tabler/demo-theme.min.js?1692870487"></script>

	<div class="page-wrapper" id="page-wrapper">
		<div class="container" id="'container">
			<h2>[[${menuNm}]]</h2>
			<div class="ptag-container">
				<span>[[${navigator}]]</span>

				<div class="form-container">
					<div class="form-box">
						<form id="filter-form" name="form" method="post" action="/WRKFIL002M0SelectList" onsubmit="return false;">
							<div class="row">
								<div class="col-auto">
									<label class="form-label" for="fileDropdown">File Name :</label>
									<select class="form-select" id="fileDropdown" style="padding: 3px">
										<option value="0">- File -</option>
									</select>
								</div>
								<div class="col text-end">
									<p style="height:27px;">&nbsp;</p>
									<button type="button" class=" btn btn-primary" style="padding: 4px 10px; color: white; font-size: 13px;" form="new-form" onclick="renewOptions(true);openDetails('create');{(ev) => {if (ev.detail === 0) {ev.preventDefault();}}}" data-test="create-button" onsubmit="return false;">Create</button>
									<button type="button" class="btn btn-lime" style="padding: 4px 10px; color: white; font-size: 13px;" id="downloadExcel" form="new-form" onclick="renewOptions(true);openDetails('edit');{(ev) => {if (ev.detail === 0) {ev.preventDefault();}}}" data-test="edit-button" onsubmit="return false;">Download</button>
									<button type="button" class=" btn btn-secondary" style="padding: 4px 10px; color: white; font-size: 13px;" form="new-form" onclick="renewOptions(true);openDetails('edit');{(ev) => {if (ev.detail === 0) {ev.preventDefault();}}}" data-test="edit-button" onsubmit="return false;">Edit</button>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div style="padding-bottom: 25px;"></div>
			</div>
			<div class="card card-md">
				<div align="center" id="divMyGrid" style="height:420px;">
				</div>
			</div>
			<div class="row row-cards">
				<div class="col-6" id="totalCnt" style="font-weight:bold;">
					Total Count : 0
				</div>
				<div class="col text-end">
					<button type="button" id="nextBtn" class=" btn btn-primary" style="padding: 4px 10px; color: white; font-size: 13px;" form="new-form" data-test="next-button">Next</button>
				</div>
			</div>
		</div>
		<div>
			<div class="popupDataForm">
				<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" style="display: none;">Launch modal with form</button>

				<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-small" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title">New report</h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>

							<div class="modal-body">
								<div class="row">
									<div class="col-lg-6">
										<div class="mb-3">
											<label class="form-label">Client name</label> <input type="text" class="form-control" />
										</div>
										<div class="mb-3">
											<label class="form-label">Client name</label> <input type="text" class="form-control" />
										</div>
										<div class="mb-3">
											<label class="form-label">Client name</label> <input type="text" class="form-control" />
										</div>
										<div class="mb-3">
											<label class="form-label">Client name</label> <input type="text" class="form-control" />
										</div>
										<div class="mb-3">
											<label class="form-label">Client name</label> <input type="text" class="form-control" />
										</div>
										<div class="mb-3">
											<label class="form-label">Client name</label> <input type="text" class="form-control" />
										</div>
									</div>
									<div class="col-lg-6">
										<div class="mb-3">
											<label class="form-label">Reporting period</label> <input type="date" class="form-control" />
										</div>
										<div class="mb-3">
											<label class="form-label">Reporting period</label> <input type="date" class="form-control" />
										</div>
										<div class="mb-3">
											<label class="form-label">Reporting period</label> <input type="date" class="form-control" />
										</div>
										<div class="mb-3">
											<label class="form-label">Reporting period</label> <input type="date" class="form-control" />
										</div>
										<div class="mb-3">
											<label class="form-label">Reporting period</label> <input type="date" class="form-control" />
										</div>
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<div class="col flex-start">
									<a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal"> Cancel </a>
								</div>
								<div class="col-auto me-0 p-1"></div>
								<div class="col-auto m-0">
									<a href="#" class="btn btn-primary ms-auto" style="padding: 4px 10px; color: white; font-size: 13px;"> <path stroke="none" d="M0 0h24v24H0z" fill="none"></path> <path d="M12 5l0 14"></path> <path d="M5 12l14 0"></path> </svg> Save changes
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script>
		function checkData(data) {
		return parentCheckData(data, check_cols);
		}

		function getFileList(input) {
			console.log("getFileList input : " + input);
			var option = {
						  id          : "SelectFileList"
						, type        : "post"
						, url         : "/WRKFIL002M0SelectList"
						, async       : false
						, dataType    : "json"
						, contentType : "application/json; charset=utf-8"
						, data        : JSON.stringify({ dummyStr: "" })
			};

			gf_Transaction(option, fn_callback);
		}
		
		function getList(input) {
			console.log("getList input : " + input);
			var option = {
						  id          : "SelectList"
						, type        : "post"
						, url         : "/WRKFIL002M1SelectList"
						, async       : false
						, dataType    : "json"
						, contentType : "application/json; charset=utf-8"
						, data: input,
			};

			gf_Transaction(option, fn_callback);
		}

		function insertList(addedRow) {
			var option = {
						  id          : "insertList"
						, type        : "post"
						, url         : "/WRKFIL002M0InsertList"
						, async       : false
						, dataType    : "text"
						, contentType : "application/json; charset=utf-8"
						, data        : addedRow,
			};

			gf_Transaction(option, fn_callback);
		}

		function updateList(input) {
			console.log("updateList input : " + input);
			var option = {
						  id          : "updateList"
						, type        : "post"
						, url         : "/WRKFIL002M0UpdateList"
						, async       : true
						, dataType    : "text"
						, contentType : "application/json; charset=utf-8"
						, data        : input
			};

			gf_Transaction(option, fn_callback);
		}

		function deleteList(input) {
			console.log("deleteList input : " + input);
			var option = {
						  id          : "deleteList"
						, type        : "post"
						, url         : "/WRKFIL002M0DeleteList"
						, async       : true
			 			, dataType    : "text"
						, contentType : "application/json; charset=utf-8"
			  			, data        : input
			};

			gf_Transaction(option, fn_callback);
		}
	</script>
	<script>
		var selectedValue = "";
	
		$(document).ready(function () {
			console.log("Document is ready.");
			//main(1);
			// 버튼 클릭 시 선택된 값을 가져오는 이벤트 핸들러
			$("#fileDropdown").change(function () {
				selectedValue = $(this).val(); // 선택된 값 가져오기
				main(1);
			});
			//main();
			//화면 접속시 바로 조회
			//main();
			getFileList();
			
			$("#nextBtn").click (function() {
			    main(gvPageNum+1);
			});
		});
		
		
		// DropDown 리스트에 FILE_NM 값을 추가하는 함수
		function populateDropdown(data) {
			var dropdown = $("#fileDropdown");
			data.forEach(function (item) {
				var option = $("<option></option>").attr("value", item.tblId).text(item.tblId + "(" + item.fileNm + ")");
				dropdown.append(option);
			});
		}

		// this method will trigger the popup modal to be draggle by mouse click
		$(document).ready(function () {
			// we initialize draggable when the modal is shown
			$('#exampleModal').on('shown.bs.modal', function () {
				// then we make the modal draggable
				$(this).find(".modal-dialog").draggable({
					handle: ".modal-header", // we will restrict dragging to the header
					// containment: "window"    // we prevent dragging outside the window box for popup container
				});
			});

			// this will then reset position when the modal is hidden
			$('#exampleModal').on('hidden.bs.modal', function () {
				$(this).find(".modal-dialog").css({
					top: "",
					left: "",
					right: "",
					bottom: ""
				});
			});

				// // Optional Case:  we can trigger the modal for test pirpose
				// // this should be romoved when the code is ready for production 
				// $('.btn-primary').trigger('click');
		})

		var grid;
		var dataView;
		var data;
		var unqId      = "itmId";
		var xcpt_cols  = ["tblId"];
		var check_cols = ["tblId", "itmNm", "itmId", "dataTpCd", "pkYn", "vlvlVrfYn", "ordSeq"];
		var columns = [
			{id: "tblId",		name: "Table ID",				field: "tblId",		width: 120,	sortable: true, editor: Slick.Editors.Text, headerCssClass: "slick-header-columns", cssClass: "slick-column-left"},
			{ id: "itmNm",		name: "Column Name",			field: "itmNm",		width: 120,	sortable: true, editor: Slick.Editors.Text, validator: (value, args) =>  complexValidator(value, args, [ createValidator, noWhitespaceValidator ]), headerCssClass: "slick-header-columns", cssClass: "slick-column-left"},
			{ id: "itmId",		name: "Column ID",				field: "itmId",		width: 120,	sortable: true, editor: Slick.Editors.Text, validator: (value, args) => complexValidator(value, args, [ createValidator, noWhitespaceValidator ]), headerCssClass: "slick-header-columns", cssClass: "slick-column-left"},
			{ id: "dataTpCd",	name: "Data Type",				field: "dataTpCd",	width: 80,	sortable: true, editor: function (args) { return new ComboBoxEditor(args, [{ key: "VARCHAR", value: "VARCHAR" }, { key: "NUMBER", value: "NUMBER" }, { key: "DATE", value: "DATE" }, { key: "TIMESTAMP", value: "TIMESTAMP" } ]);}, headerCssClass: "slick-header-columns", cssClass: "slick-column-center"},
			{ id: "pkYn",		name: "Primary Key",			field: "pkYn",		width: 80,	sortable: true, editor: function (args) { return new ComboBoxEditor(args, [{ key: "Y", value: "Y" }, { key: "N", value: "N" } ]);}, headerCssClass: "slick-header-columns", cssClass: "slick-column-center"},
			{ id: "vlvlVrfYn",	name: "Validation Use",			field: "vlvlVrfYn",	width: 80,	sortable: true, editor: function (args) { return new ComboBoxEditor(args, [{ key: "Y", value: "Y" }, { key: "N", value: "N" } ]);}, headerCssClass: "slick-header-columns", cssClass: "slick-column-center"},
			{ id: "vlvlCd",		name: "Validation Code",		field: "vlvlCd",	width: 100,	sortable: true, editor: Slick.Editors.Text, headerCssClass: "slick-header-columns", cssClass: "slick-column-center" },
			{ id: "ordSeq",		name: "Sort",					field: "ordSeq",	width: 60,	sortable: true, editor: Slick.Editors.Text, validator: (value, args) => complexValidator(value, args, [ createValidator, noWhitespaceValidator ]), headerCssClass: "slick-header-columns", cssClass: "slick-column-center"},
			{ id: "itmDsc",		name: "Description",			field: "itmDsc",	width: 170,	sortable: true, editor: Slick.Editors.Text, headerCssClass: "slick-header-columns", cssClass: "slick-column-left" },
			{ id: "selBasYn",	name: "Load Standard (Y/N)",	field: "selBasYn",	width: 120,	sortable: true, editor: Slick.Editors.Text, headerCssClass: "slick-header-columns", cssClass: "slick-column-center" }];

		var options = {
			enableCellNavigation: true,
			enableColumnReorder: false,
			forceFitColumns: true,
			multiColumnSort: true,
			numberedMultiColumnSort: true,
			tristateMultiColumnSort: true,
			sortColNumberInSeparateSpan: true,
			enableAutoSizeColumns: true,
			editable: false, // grid도 편집가능.. grid 편집 기능 제거 필요..
			enableAddRow: false,
			asyncEditorLoading: false,
			autoEdit: false,
			autoEditNewRow: false,
			rowHeight: 35,
		};

		var newRowIds = 0;

		var pluginOptions = {
			clipboardCommandHandler: function (editCommand) {
				undoRedoBuffer.queueAndExecuteCommand.call(undoRedoBuffer, editCommand);
			},
			readOnlyMode: false,
			includeHeaderWhenCopying: false,
			newRowCreator: function (count) {
				for (var i = 0; i < count; i++) {
					var item = {
						id: "newRow_" + newRowIds++,
					};
					grid.getData().addItem(item);
				}
			},
		};
		
		dataView = new Slick.Data.DataView({ idField: unqId });
		grid = new Slick.Grid("#divMyGrid", dataView, columns, options);

		// Make the grid respond to DataView change events.
		dataView.onRowCountChanged.subscribe(function (e, args) {
			grid.updateRowCount();
			grid.render();
		});

		dataView.onRowsChanged.subscribe(function (e, args) {
			grid.invalidate();
			grid.render();
		});

		function main(vPageNum) {
			// 그리드 초기화 및 데이터 로드
			console.log("Initializing SlickGrid...");
			console.log("선택된 value: ", selectedValue);
			getList(( input = JSON.stringify({
				tblIdTxt	: selectedValue,
				pageNum		: vPageNum,
				pageRowCnt	: gvPageRowCnt,
			})));
		}
		//data = getFile((input = JSON.stringify({ tblIdTxt: selectedValue })));

		function fn_callback(result) {
			//console.log("fn_callback : " + result.id);
			if (result.resultCd == "S") {
				let resultData = typeof result.data === "string" ? JSON.parse(result.data) : result.data;
				switch (result.id) {
					case "SelectFileList":
						console.log("selectFileList");
						populateDropdown(resultData);
						break;
					case "SelectList":
						gvTotalRowCnt = resultData.resultCnt;
						gvPageNum = resultData.resultPage;
						if (gvPageNum > 1) {
							fn_addGrid(resultData.resultList);
						} else {
							fn_setGrid(resultData.resultList);
						}
						break;
					case "insertList":
						if ( resultData.resultCode == "200" ) {
						alert("Successfully Insert");
						main(1);
						} else {
							alert( "Save Fail Error : " + resultData.resultMessage );
						}
						break;
						
					case "updateList":
						if ( resultData.resultCode == "200" ) {
						alert("Successfully Updated");
						main(1);
						} else {
							alert( "Save Fail Error : " + resultData.resultMessage );
						}
						break;
						
					case "deleteList":
						if ( resultData.resultCode == "200" ) {
						alert("Successfully Deleted");
						main(1);
						} else {
							alert( "Save Fail Error : " + resultData.resultMessage );
						}
						break;
				}
			} else if (result.resultCd == "E") {
			} else {
				console.log("fn_callback result : ", result);
			}
		}

		function fn_setGrid(data) {

			// inserting the selected value into the table id column
			insertTableIdValue(data, selectedValue);

			// setItems의 두번째 argument를 통해 unique id에 해당하는 컬럼 지정가능
			dataView.setItems(data, unqId);
			
			$("#totalCnt").text("Total Count : "+grid.getDataLength());

			if (gvTotalRowCnt == grid.getDataLength()) {
				$("#nextBtn").attr("disabled", true);
			} else {
				$("#nextBtn").attr("disabled", false);
			}

		}
		
		function fn_addGrid(data) {

			// inserting the selected value into the table id column
			insertTableIdValue(data, selectedValue);

			// setItems의 두번째 argument를 통해 unique id에 해당하는 컬럼 지정가능
			dataView.addItems(data);
			
			$("#totalCnt").text("Total Count : "+grid.getDataLength());
			
			if (gvTotalRowCnt == grid.getDataLength()) {
				$("#nextBtn").attr("disabled", true);
			} else {
				$("#nextBtn").attr("disabled", false);
			}

		}

		function insertTableIdValue(data, selectedValue) {
			data.forEach(row => {
				row.tblId = selectedValue; // we update the tblId value to the selected value option
			})
		}

		// Download Excel functionality
		document.getElementById("downloadExcel").addEventListener("click", function () {
			const currDate = getCurrentDateTime();
			const fileName = "WRKFIL002M1_CM_" + currDate; // 원하는 파일 이름으로 변경 가능
			const sheetName = "컬럼관리"; // 시트 이름
			const gridColumns = columns; // SlickGrid의 컬럼 배열
			const gridData = dataView.getItems(); // SlickGrid의 데이터 배열
			exportToExcel(fileName, sheetName, gridColumns, gridData);
		});



		// 신규버튼 누르면 동작하는 함수
		function openDetails(modalType) {

			let options1 = [
				{ value: "VARCHAR", text: "VARCHAR", column: "dataTpCd" },
				{ value: "NUMERIC", text: "NUMERIC", column: "dataTpCd" },
				{ value: "DATE", text: "DATE", column: "dataTpCd" }
			];

			let options2 = [
				{ value: "Y", text: "Y", column: " "},
				{ value: "N", text: "N", column: " "}
				];
			
			grid.render();

			let originalData = null; // 수정 직전의 데이터를 저장할 변수

			if ( grid.getEditorLock().isActive() && !grid.getEditorLock().commitCurrentEdit()) {
			return;
			}

			//신규버튼을 누르면 가장 아래 셀을 선택 후 신규만 입력하도록 ActiveCell을 설정
			if (modalType === "create") {
				grid.setActiveCell(grid.getDataLength(), 0);
			}
			
			var activeCell = grid.getActiveCell();
			console.log("activeCell:", activeCell);

			// 선택된 cell이 없을 경우
			if (!activeCell) {
				alert('Click the row you want to modify, and then click the "Edit" button');
				return;
			}
			
			//get the active cell index
			let activeCellIndex = activeCell.cell;

			//let column = grid.getColumns()[activeCellIndex];

			// setting the active row to the first row if the active row is undefined
			var activeRow = (activeCell && activeCell.row) || 0;
			const dataContext = grid.getDataItem(activeRow);
		
			/*
			if(( modalType === "edit" && !dataContext) || !column || !activeCell ){
				alert("Please select a cell to edit.");
			return;
			} */

			if (!options.enableCellNavigation) {
				throw new Error('Composite Editor requires the flag "enableCellNavigation" to be set to True in your Grid Options.');
			} else if (!activeCell && modalType === "edit") {
				alert("Please select the column to change its value");
			return ;
			}	
			renewOptions(false);

			const modalElement = new bootstrap.Modal(document.getElementById("exampleModal"), {
				backdrop: 'static',
				keyboard: false
			});
			const modalTitleElem = document.querySelector(".modal-title");
			const modalBodyElem = document.querySelector(".modal-body");
			console.log("modalTitleElem:", modalTitleElem);

			modalBodyElem.innerHTML = ""; // Clear previous content

			if(modalTitleElem){
				if (modalType === "create") {
					modalTitleElem.textContent = "NEW";
					const existingDeleteButton = document.querySelector(".modal-footer .btn-danger");
					if (existingDeleteButton) {
						existingDeleteButton.remove();
					}
					// modalTitleElem.className = "mb-3";
				} else if (modalType === "edit") {
					modalTitleElem.textContent = "EDIT";

					const existingDeleteButton = document.querySelector(".modal-footer .btn-danger");
					if (existingDeleteButton) {
						existingDeleteButton.remove();
					}

					// here we are adding a delete button to the modal popup in the edit mode
					const delBtn = document.createElement("a");
					delBtn.href = "#";
					delBtn.className = "btn btn-danger";
					delBtn.dataset.dismiss = "modal";
					delBtn.style.padding = "4px 10px";
					delBtn.style.color = "white";
					delBtn.style.fontSize = "13px";
					delBtn.textContent = "Delete";
					modalTitleElem.appendChild(delBtn);
					// getelemtn by class name
					const divColAuto = document.getElementsByClassName("col-auto me-0");

					if (divColAuto.length > 0) {
						divColAuto[0].appendChild(delBtn);
					} else {
						console.error("divColAuto is not found.");
					}
					const deleteButton = document.querySelector(".modal-footer .btn-danger");

					if (deleteButton) {
					// we remove the existing click event listener
						// existingDeleteButton.onclick = null;
						deleteButton.onclick = function () {
							if (confirm("Do you want to delete?") == true) {
							// delete the selected row
							//dataView.deleteItem(dataContext[unqId]);
							deleteList(JSON.stringify(dataContext));
							//location.reload(true);
							modalElement.hide();
							}
						};
					}
					originalData = JSON.parse(JSON.stringify(dataContext)); // Save original data for comparison
				} else {
					console.error("error while loading the modal title: ");
				}
			} else {
				console.error("error while loading the modal title: ");
			}
			
			renewOptions(false);

			// Dynamically create form elements based on the columns that have editors
			const modalColumns = columns.filter(col => col.editor);

			const columnsPerShow = 6;
			let currentRow;


			function createInputField(column){
				
			}

			modalColumns.forEach((column, index) => {
				// we create new row after 6 columns
				if (index % columnsPerShow === 0) {
					currentRow = document.createElement("div");
					currentRow.className = "row";
					modalBodyElem.appendChild(currentRow);
				}

				const colElem = document.createElement("div");
				colElem.className = "col-lg-6";

				const formGroupElem = document.createElement("div");
				formGroupElem.className = "mb-3";

				const detailLabelitem = document.createElement("div");
				detailLabelitem.className = "form-label";
				detailLabelitem.textContent = column.name;

				const inputElem = document.createElement('input');
				inputElem.className = "form-control";
				inputElem.dataset.editorid = column.id;
				inputElem.value = modalType === "edit" ? dataContext[column.field] : ""; // pre-filling in the edit mode

				formGroupElem.appendChild(detailLabelitem);

				
				if (column.id === "dataTpCd" || column.id === "pkYn" || column.id === "vlvlVrfYn" || column.id === "selBasYn") {
					const selectInput = document.createElement('select');
					selectInput.className = "form-select";
					selectInput.dataset.editorid = column.id;
	 				
					const defaultOption = document.createElement('option');
					defaultOption.value = "";
					defaultOption.textContent = "- options -";
					selectInput.appendChild(defaultOption);
					
					let optionsData = [];
					
					if(column.id === "dataTpCd"){
						optionsData = options1;
					} else {
						optionsData = options2;
					}
					
					optionsData.forEach(option => {
						const optionElem = document.createElement('option');
						optionElem.value = option.value;
						optionElem.textContent = option.text;
						selectInput.appendChild(optionElem);
					});
					
					if (modalType === "edit") {
						selectInput.value = dataContext[column.field] || "";
					}
		
					formGroupElem.appendChild(selectInput);
				} else {
					const inputElem = document.createElement('input');
					 inputElem.className = "form-control";
					 
					 inputElem.dataset.editorid = column.id;
					 inputElem.value = (modalType === "edit" && dataContext) ? dataContext[column.field] : ""; // pre-filling in the edit mode;
					 formGroupElem.appendChild(inputElem);

					if(column.id === "tblId"){
						inputElem.value = selectedValue;
						inputElem.disabled = true;
					}
					
					if(modalType === "edit" && column.id === "itmId"){
						inputElem.disabled = true;
					}
					
				}

				colElem.appendChild(formGroupElem);
				currentRow.appendChild(colElem);
			});
							

			if(modalColumns.length % columnsPerShow !== 0){
				const remainingCols = columnsPerShow - (modalColumns.length % columnsPerShow);
				const spacerCol = document.createElement('div');
				spacerCol.className = `col-lg-${remainingCols * 2}`;  // adjust the spacer column
				currentRow.appendChild(spacerCol);
			}
	
			modalElement.show();
			renewOptions(false);

			// // we prevent modal from closing when clicking outside
			// const modalDialog = document.querySelector('.modal-dialog');
			// modalDialog.addEventListener('click', (e) => {
			// 	e.stopPropagation(); // Prevent click from bubbling up
			// });

			// // we prevent the modal not to close when the user clicks esc button
			// modalElement._element.addEventListener('keydown', (e) => {
			// 	if (e.key === 'Escape') {
			// 		e.stopPropagation();
			// 		e.preventDefault(); 
			// 	}
			// });

			// modalElement._config.backdrop = 'static';
			// modalElement._config.keyboard = false;
			
	
			//업데이트 대상제외 컬럼 필터링
			var selColumns = [];
			for (let index = 0; index < columns.length; index++) {
				const element = columns[index];
				if (xcpt_cols.includes(element["id"])) {
					continue;
				} else {
					selColumns.push(element);
				}
			}
	
			let headerTitle = "";
			switch (modalType) {
				case "create":
					headerTitle = "파일 추가";
					break;
				case "edit":
					headerTitle = `Editing ${dataContext.title}`;
					break;
				case "mass-update":
					headerTitle = "Mass Update (all rows)";
					break;
				case "mass-selection":
					headerTitle = "Update on Current Selection";
					break;
			}

			const modalElm = document.createElement("div");
			modalElm.className = "modal slick-composite-editor-modal";

			const modalHeaderElm = document.createElement("div");
			modalHeaderElm.className = "modal-header";
			modalHeaderElm.innerHTML = `<h5>${headerTitle}</h5><button type="button" class="close" data-action="close" aria-label="Close">
				<span aria-hidden="true">×</span></button>`;
			modalElm.appendChild(modalHeaderElm);

			const modalBodyElm = document.createElement("div");
			modalBodyElm.className = "modal-body";
			modalBodyElm.id = "modalForm";

			for (const column of modalColumns) {
				if (column.editor) {
					const detailLabelElm = document.createElement("div");
					detailLabelElm.className = `item-details-label editor-${column.id}`;
					detailLabelElm.textContent = column.name;
	
					const detailContainerElm = document.createElement("div");
					detailContainerElm.className = "item-details-editor-container";
					detailContainerElm.dataset.editorid = column.id;
					detailContainerElm.style.height = column.id === "desc" ? "inherit" : "20px";
	
					const detailValidationElm = document.createElement("div");
					detailValidationElm.className = `item-details-validation editor-${column.id}`;
	
					modalBodyElm.appendChild(detailLabelElm);
					modalBodyElm.appendChild(detailContainerElm);
					modalBodyElm.appendChild(detailValidationElm);
				}
			}
			modalElm.appendChild(modalBodyElm);


			grid.onClick.subscribe(function (e, args) {
			renewOptions(false);
			});

			// Save button logic
			const saveBtn = document.querySelector(".modal-footer .btn-primary");
			saveBtn.textContent = modalType === "create" ? "Create" : "Save changes"

			//modal을 마우스로 드래그가능하도록 설정
			$(".modal").draggable();
		
			saveBtn.onclick = function saveHandler(){				
				const formData = {};
				// Collect form data
				modalColumns.forEach(column => {
					const input = modalBodyElem.querySelector(`[data-editorid="${column.id}"]`);
					if (input) {
						formData[column.field] = input.value.trim();
					}
				});
		
				if (modalType === "create") {
					// Add new item to grid data
					if (checkData(formData)) {
						//formData[unqId] = grid.getDataLength() + 1;
						//dataView.insertItem(grid.getDataLength(), formData);
						if(confirm("Do you want to register?")== true ){
							insertList(JSON.stringify(formData));
							console.log("formData that is being sent : " + JSON.stringify(formData));
							// location.reload(true);
							// dataView.insertItem(grid.getDataLength(), formData);
						}
					} else {			
						alert("Please fill out all required fields.");
					return;
					}
				} else if (modalType === "edit") {
					// Update existing item in grid data
					let isChanged = false;
					for (let key in formData) {
						if (formData[key] !== originalData[key]) {
							isChanged = true;
							break;
						}
					}
	
					if (isChanged) {
						formData[unqId] = originalData[unqId];	
						if (confirm("Do you want to modify?") == true) {
							// updateFile(formData);
							updateList(JSON.stringify(formData));
						}
						//location.reload(true);
					} else {
						alert("No changes detected.");
					return;
					}
				}
				grid.render();
				modalElement.hide(); // Hide the modal after saving\ 
			};
	
			// Close button logic
			const closeBtn = document.querySelector(".modal-footer .btn-link");
			closeBtn.removeEventListener("click", closeHandler);
			closeBtn.addEventListener("click", closeHandler);
	
			function closeHandler(){
				if(modalType === "edit" && originalData){
					dataView.updateItem(originalData[unqId], originalData);
				}
				modalElement.hide(); // we hide the modal
			}
	
			closeBtn.addEventListener("click", function () {
				if (modalType === "edit" && originalData) {
					dataView.updateItem(originalData[unqId], originalData); // Revert changes if canceled
				}
			}); 
		}
		</script>
	</th:block>
</html>
