<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<th:block layout:fragment="content">
	<script src="js/js-tabler/demo-theme.min.js?1692870487"></script>
	<div class="page-wrapper" id="page-wrapper">
		<div class="container" id="container">
			<h2>[[${menuNm}]]</h2>
			<div class="ptag-container">
				<!-- <span><a href="#"> Home ></a></span> -->
				<span>[[${navigator}]]</span>
				<div class="form-container">
					<div class="form-box">
						<form id="filter-form" name="form" method="post" action="/WRKFIL001M0SelectList" onsubmit="return false;">
							<div class="row">
								<div class="col-sm-6 col-md-3">
									<input id="inpSearchTxt" name="inpSearchTxt" type="text" class="form-control p-1" placeholder="File Name or Table ID" />
								</div>
								<div class="col-auto">
									<button type="button" class="btn btn-primary" style="padding: 4px 10px; color: white; font-size: 13px" onclick="main()">Search</button>
								</div>
								<div class="col text-end">
									<button form="new-form" type="button" class="btn btn-primary" style="padding: 4px 10px; color: white; font-size: 13px" onclick="renewOptions(true);openDetails('create');{(ev) => {if (ev.detail === 0) {ev.preventDefault();}}}" data-test="create-button" onsubmit="return false;">Create</button>
									<button type="button" class="btn btn-lime" style="padding: 4px 10px; color: white; font-size: 13px" id="downloadExcel">Download</button>
									<button form="new-form" type="button" class="btn btn-secondary" style="padding: 4px 10px; color: white; font-size: 13px" onclick="renewOptions(true);openDetails('edit');{(ev) => {if (ev.detail === 0) {ev.preventDefault();}}}" data-test="edit-button" onsubmit="return false;">Edit</button>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div style="padding-top: 2em"></div>
				<div class="card card-md" id="divMyGrid">
					<table class="table" align="center" style="width: 1284px; height: 500px"></table>
				</div>
			</div>
			<div class="popupDataForm">
				<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" style="display: none">Launch modal with form</button>
				<div class="modal fade" id="exampleModal" tabindex="-1" style="display: none">
					<div class="modal-dialog modal-small" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title">New report</h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>
							<div class="modal-body">
								<div class="row"></div>
							</div>
							<div class="modal-footer">
								<div class="col flex-start">
									<a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">Cancel</a>
								</div>
								<div class="col-auto me-0 p-1"></div>
								<div class="col-auto m-0">
									<a href="#" class="btn btn-primary ms-auto" style="padding: 4px 10px; color: white; font-size: 13px"> Save changes </a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		function checkData(data) {
			return parentCheckData(data, check_cols);
		}
		
		function getList(input) {
			console.log("getList input : " + input);
			var option = {
						  id         : "SelectList"
						, type        : "post"
						, url         : "/WRKFIL001M0SelectList"
						, async       : false
						, dataType    : "json"
						, contentType : "application/json; charset=utf-8"
						, data: input,
			};

			gf_Transaction(option, fn_callback);
		}

		function insertList(addedRow) {
			var option = {
						  id          : "insertList"
						, type        : "post"
						, url         : "/WRKFIL001M0InsertList"
						, async       : false
						, dataType    : "text"
						, contentType : "application/json; charset=utf-8"
						, data        : addedRow,
			};

			gf_Transaction(option, fn_callback);
		}

		function updateList(input) {
			console.log("updateList input : " + input);
			var option = {
						  id          : "updateList"
						, type        : "post"
						, url         : "/WRKFIL001M0UpdateList"
						, async       : true
						, dataType    : "text"
						, contentType : "application/json; charset=utf-8"
						, data        : input
			};

			gf_Transaction(option, fn_callback);
		}
		
		function deleteList(input) {
			console.log("deleteList input : " + input);
			var option = {
						  id          : "deleteList"
						, type        : "post"
						, url         : "/WRKFIL001M0DeleteList"
						, async       : true
			 			, dataType    : "text"
						, contentType : "application/json; charset=utf-8"
			  			, data        : input
			};

			gf_Transaction(option, fn_callback);
		}
		
	</script>
	<script src="js/utils.js"></script>
	<script>
		$(document).ready(function () {
			console.log("Document is ready.");
			//화면 접속시 바로 조회
			main();
			//send버튼 누르면, 조건적용하여 검색
			$("#send").click(main);
			//엔터키누르면, 조건적용하여 검색
			$("input").on("keyup", function (key) {
				if (key.keyCode == 13) {
					main();
 				}
			});
		});

		// this method will trigger the popup modal to be draggle by mouse click
		$(document).ready(function () {
			// we initialize draggable when the modal is shown
			$("#exampleModal").on("shown.bs.modal", function () {
				// then we make the modal draggable
				$(this).find(".modal-dialog").draggable({
					handle: ".modal-header", // we will restrict dragging to the header
					// containment: "window"    // we prevent dragging outside the window box for popup container
				});
			});

			// this will then reset position when the modal is hidden
			$("#exampleModal").on("hidden.bs.modal", function () {
				$(this).find(".modal-dialog").css({
					top: "",
					left: "",
					right: "",
					bottom: "",
				});
			});
		});

		var grid;
		var dataView;
		var data;
		var unqId = "seqNo";
		var xcpt_cols = [unqId, "frstRegEmpNo", "frstRegDtm"];
		var check_cols = ["seqNo", "fileNm", "dbId", "tblId", "fileDsc", "fileDelYn", "uiSelYn", "useYn", "vrfUseYn"];
		var columns = [
			{ id: "seqNo",			name: "Seq",				field: "seqNo",			width: 40,					editor: Slick.Editors.Text, validator: createValidator, headerCssClass: "slick-header-columns", cssClass: "slick-column-center" },
			{ id: "fileNm",			name: "File Name",			field: "fileNm",		width: 250,	sortable: true, editor: Slick.Editors.Text, validator: (value, args) => complexValidator(value, args, [ createValidator, noWhitespaceValidator ]), headerCssClass: "slick-header-columns", cssClass: "slick-column-left" },
			{ id: "dbId",			name: "Database ID",		field: "dbId",			width: 100,	sortable: true, editor: Slick.Editors.Text, validator: createValidator, headerCssClass: "slick-header-columns", cssClass: "slick-column-left" },
			{ id: "tblId",			name: "Table ID",			field: "tblId",			width: 150,	sortable: true, editor: Slick.Editors.Text, validator: (value, args) => complexValidator(value, args, [ createValidator, noWhitespaceValidator ]), headerCssClass: "slick-header-columns", cssClass: "slick-column-left" },
			{ id: "fileDsc",		name: "File Info",			field: "fileDsc",		width: 200,	sortable: true, editor: Slick.Editors.Text, validator: createValidator, headerCssClass: "slick-header-columns", cssClass: "slick-column-left" },
			{ id: "fileDelYn",		name: "File Del YN",		field: "fileDelYn",		width: 100,	sortable: true, editor: function (args) { return new ComboBoxEditor(args, [{ key: "Y", value: "Y" }, { key: "N", value: "N" }]);}, headerCssClass: "slick-header-columns", cssClass: "slick-column-center" },
			{ id: "uiSelYn",		name: "UI View YN",			field: "uiSelYn",		width: 100,	sortable: true, editor: function (args) { return new ComboBoxEditor(args, [{ key: "Y", value: "Y" }, { key: "N", value: "N" }]);}, headerCssClass: "slick-header-columns", cssClass: "slick-column-center" },
			{ id: "useYn",			name: "Use YN",				field: "useYn",			width: 80,	sortable: true, editor: function (args) { return new ComboBoxEditor(args, [{ key: "Y", value: "Y" }, { key: "N", value: "N" }]);}, headerCssClass: "slick-header-columns", cssClass: "slick-column-center" },
			{ id: "vrfUseYn",		name: "Validation YN",		field: "vrfUseYn",		width: 110,	sortable: true, editor: function (args) { return new ComboBoxEditor(args, [{ key: "Y", value: "Y" }, { key: "N", value: "N" }]);}, headerCssClass: "slick-header-columns", cssClass: "slick-column-center" },
			{ id: "frstRegEmpNo",	name: "Registrant",			field: "frstRegEmpNo",	width: 120,	sortable: true, editor: Slick.Editors.Text, headerCssClass: "slick-header-columns", cssClass: "slick-column-center" },
			{ id: "frstRegDtm",		name: "Registration Date",	field: "frstRegDtm",	width: 120,	sortable: true, editor: Slick.Editors.Text, headerCssClass: "slick-header-columns", cssClass: "slick-column-center" },
		];

		var options = {
				enableCellNavigation: true,
				enableColumnReorder: false,
				forceFitColumns: false,
				multiColumnSort: true,
				numberedMultiColumnSort: true,
				tristateMultiColumnSort: true,
				sortColNumberInSeparateSpan: true,
				enableAutoSizeColumns: true,
				editable: false, // grid도 편집가능.. grid 편집 기능 제거 필요..
				enableAddRow: true,
	  			asyncEditorLoading: false,
	   			autoEdit: false,
	 			autoEditNewRow: false,
	 			rowHeight: 35,
		};

		var newRowIds = 0;

		var pluginOptions = {
			clipboardCommandHandler: function (editCommand) {
				undoRedoBuffer.queueAndExecuteCommand.call( undoRedoBuffer, editCommand);
			},
			readOnlyMode: false,
			includeHeaderWhenCopying: false,
			newRowCreator: function (count) {
				for (var i = 0; i < count; i++) {
					var item = { id: "newRow_" + newRowIds++, };
					grid.getData().addItem(item);
				}
			},
		};

		function main() {
			// 그리드 초기화 및 데이터 로드
			console.log("Initializing SlickGrid...");
			getList(
						(input = JSON.stringify({ searchTxt: $("#inpSearchTxt").val() }))
					);
		}

			
		/**
		* Transaction callback 함수
		**/
		function fn_callback(result){
			//console.log("fn_callback : " + result.id);
			if( result.resultCd == "S" ){
				let resultData = typeof result.data === "string" ? JSON.parse(result.data) : result.data;
				switch (result.id){
					case "SelectList" :
						fn_setGrid(resultData);
						break;
					case "insertList" :
						if ( resultData.resultCode == "200" ) {
						alert("Successfully Insert");
						main();
						} else {
							alert( "Save Fail Error : " + resultData.resultMessage );
						}
						break;
					case "updateList" :
						if ( resultData.resultCode == "200" ) {
						alert("Successfully Updated");
						main();
						} else {
							alert( "Save Fail Error : " + resultData.resultMessage );
						}
						break;
					case "deleteList" :
						if ( resultData.resultCode == "200" ) {
						alert("Successfully Deleted");
						main();
						} else {
							alert( "Save Fail Error : " + resultData.resultMessage );
						}
						break;
				}
			} else if( result.resultCd == "E") {
			} else {
				console.log("fn_callback result : ", result);
			}
		}

		function fn_setGrid(data){
			//dataView = new Slick.Data.DataView( { idField: unqId });
			dataView = new Slick.Data.DataView();
			grid     = new Slick.Grid("#divMyGrid", dataView, columns, options);

			// Make the grid respond to DataView change events.
			dataView.onRowCountChanged.subscribe(function (e, args) {
				grid.updateRowCount();
				grid.render();
			});

			dataView.onRowsChanged.subscribe(function (e, args) {
				grid.invalidate();
				grid.render();
			});

			// setItems의 두번째 argument를 통해 unique id에 해당하는 컬럼 지정가능
			dataView.setItems(data, unqId);

			// when "onBeforeSort" returns false, the "onSort" won't execute (for example a backend server error while calling backend query to sort)
			grid.onBeforeSort.subscribe(function (e, args) {
			return true;
			});                   

			// 정렬
			grid.onSort.subscribe(function (e, args) {
			var cols = args.sortCols;

			data.sort(function (dataRow1, dataRow2) {
				for (var i = 0, l = cols.length; i < l; i++) {
					var field  = cols[i].sortCol.field;
					var sign   = cols[i].sortAsc ? 1 : -1;
					var value1 = dataRow1[field],
					value2 = dataRow2[field];
					var result = (value1 == value2 ? 0 : value1 > value2 ? 1 : -1) * sign;
					if (result != 0) {
					return result;
					}
				}
			return 0;
			});
			grid.render();
		});

		grid.setSelectionModel(new Slick.CellSelectionModel());
		grid.registerPlugin(new Slick.AutoTooltips());

		// set keyboard focus on the grid
		//grid.getCanvasNode().focus();
		grid.registerPlugin(new Slick.CellExternalCopyManager(pluginOptions));

		grid.onAddNewRow.subscribe(function (e, args) {
			var newItem = args.item;
			var column = args.column;
			dataView.beginUpdate();
			dataView.setItems(data);
			dataView.endUpdate();
			grid.updateRowCount();
			grid.render();
		});

		grid.onBeforeEditCell.subscribe(function (e, args) {
			console.log("onBeforeEditCell");
		});

		grid.onCellChange.subscribe(function (e, args) {
			dataView.beginUpdate();
			dataView.setItems(data);
			dataView.endUpdate();
			grid.updateRowCount();
			grid.render();
		});

		grid.onValidationError.subscribe(function (e, args) {
			// handle validation errors originating from the CompositeEditor
			if (args.validationResults) {
				let errorMsg = args.validationResults.msg || "";
				if (args.editor && args.editor instanceof Slick.CompositeEditor) {
					if (args.validationResults.errors) {
						errorMsg += "\n";
						args.validationResults.errors.forEach(function (error, errorIndex) {
							const columnName = error.editor.args.column.id;
							errorMsg += `${columnName.toUpperCase()}: ${error.msg}`;
						});
					}
					console.log(errorMsg);
				}
			} else {
				alert(errorMessages);
			}
		});

		//grid.setActiveCell(0, 0);
		console.log("SlickGrid initialized.");
		}

		// Download Excel functionality
		document.getElementById("downloadExcel").addEventListener("click", function () {
			const currDate = getCurrentDateTime();
			const fileName = "WRKFIL001_FM_" + currDate; // 원하는 파일 이름으로 변경 가능
			const sheetName = "파일관리"; // 시트 이름
			const gridColumns = columns; // SlickGrid의 컬럼 배열
			const gridData = dataView.getItems(); // SlickGrid의 데이터 배열
			exportToExcel(fileName, sheetName, gridColumns, gridData);
		});

		// 신규버튼 누르면 동작하는 함수
		function openDetails(modalType) {
			
			let hiddenColumns;
			
			if (modalType === "create") {
				hiddenColumns = [unqId, "frstRegEmpNo", "frstRegDtm"];
			} else {
				hiddenColumns = ["frstRegEmpNo", "frstRegDtm"];  // 컬럼 숨기기
			}
			
			let selYn = [
				{ value: "Y", text: "Y", column: " " },
				{ value: "N", text: "N", column: " " },
			];

			grid.render();

			let originalData = null;

			if (grid.getEditorLock().isActive() && !grid.getEditorLock().commitCurrentEdit()) {
			return;
			}

			if (modalType === "create") { 
				grid.setActiveCell(grid.getDataLength(), 0);
			}

			var activeCell = grid.getActiveCell();
			console.log("activeCell:", activeCell);

			// 선택된 cell이 없을 경우
			if (!activeCell) {
				alert('Click the row you want to modify, and then click the "Edit" button');
			return;
			}
			
			//get the active cell index
			let activeCellIndex = activeCell.cell;

			//let column = grid.getColumns()[activeCellIndex];

			// setting the active row to the first row if the active row is undefined
			var activeRow = (activeCell && activeCell.row) || 0;
			const dataContext = grid.getDataItem(activeRow);

			// alert for the edit popup if the user doesn't select the column value in the grid
			/*
			if ((modalType === "edit" && !dataContext) || !activeCell || !column) {
				alert("Please select a cell to edit the data.");
			return;
			} */

			if (!options.enableCellNavigation) {
				throw new Error('Composite Editor requires the flag "enableCellNavigation" to be set to True in your Grid Options.');
			} else {
				console.log("enableCellNavigation is set to true.");
			}
			// renewOptions(false);

			const modalElement = new bootstrap.Modal(document.getElementById("exampleModal"), {
				backdrop: 'static',
				keyboard: false
			});
			const modalTitleElem = document.querySelector(".modal-title");
			const modalBodyElem = document.querySelector(".modal-body");
			console.log("modalTitleElem:", modalTitleElem);

			modalBodyElem.innerHTML = ""; // Clear previous content

			// Define the modal title based on action
			if (modalTitleElem) {
				if (modalType === "create") {
					modalTitleElem.textContent = "NEW";
					const existingDeleteButton = document.querySelector(".modal-footer .btn-danger");
					if (existingDeleteButton) {
						existingDeleteButton.remove();
					}
					// modalTitleElem.className = "mb-3";
				} else if (modalType === "edit") {
					modalTitleElem.textContent = "EDIT";

					const existingDeleteButton = document.querySelector(".modal-footer .btn-danger");
					if (existingDeleteButton) {
						existingDeleteButton.remove();
					}

					const delBtn = document.createElement("a");
					delBtn.href = "#";
					delBtn.className = "btn btn-danger delete";
					delBtn.dataset.dismiss = "modal";
					delBtn.style.padding = "4px 10px";
					delBtn.style.color = "white";
					delBtn.style.fontSize = "13px";
					delBtn.textContent = "Delete";
					modalTitleElem.appendChild(delBtn);
					// getelemtn by class name
					const divColAuto = document.getElementsByClassName("col-auto me-0");

					if (divColAuto.length > 0) {
						divColAuto[0].appendChild(delBtn);
					} else {
						console.error("divColAuto is not found.");
					}

					const deleteButton = document.querySelector(".modal-footer .btn-danger");
					if (deleteButton) {
						// we remove the existing click event listener
						// existingDeleteButton.onclick = null;
						deleteButton.onclick = function () {
						if (confirm("Do you want to delete?") == true) {
							// delete the selected row
							dataView.deleteItem(dataContext[unqId]);
							deleteList(JSON.stringify(dataContext));
							//location.reload(true);
							modalElement.hide();
						}
						};
					}
					originalData = JSON.parse(JSON.stringify(dataContext)); // Save original data for comparison
				} else {
				console.error("Invalid modal type.");
				}
			} else {
			console.error("error while loading the modal title: ");
			}
			renewOptions(false);

			// Dynamically create form elements based on the columns that have editors
			const modalColumns = columns.filter((col) => col.editor && !hiddenColumns.includes(col.id));

			const columnsPerShow = 6;
			let currentRow;

			// take the modal body

			modalColumns.forEach((column, index) => {
				// we create new row after 6 columms,
				if (index % columnsPerShow === 0) {
					currentRow = document.createElement("div");
					currentRow.className = "row";
					modalBodyElem.appendChild(currentRow);
				}
	
				const colElem = document.createElement("div");
				colElem.className = "col-lg-6";
	
				const formGroupElem = document.createElement("div");
				formGroupElem.className = "mb-3";
	
				const detailLabelitem = document.createElement("div");
				detailLabelitem.className = "form-label";
				detailLabelitem.textContent = column.name;
	
				const inputElem = document.createElement("input");
				inputElem.className = "form-control";
				inputElem.dataset.editorid = column.id;
				inputElem.value =
				modalType == "edit" ? dataContext[column.field] : ""; // pre-filling in the edit mode;
	
				formGroupElem.appendChild(detailLabelitem);
	
				if ( column.id === "fileDelYn" || column.id === "uiSelYn" || column.id === "useYn" || column.id === "vrfUseYn") {
					const selectInput = document.createElement("select");
					selectInput.className = "form-select";
					selectInput.dataset.editorid = column.id;
	
					const defaultOption = document.createElement("option");
					defaultOption.value = "";
					defaultOption.textContent = "-options-";
					selectInput.appendChild(defaultOption);
	
					let optionsData = [];
					optionsData = selYn;
	
					optionsData.forEach((option) => {
						const optionElem = document.createElement("option");
						optionElem.value = option.value;
						optionElem.textContent = option.text;
						selectInput.appendChild(optionElem);
					});
	
					if (modalType === "edit") {
						selectInput.value = dataContext[column.field] || "";
					}
	
					formGroupElem.appendChild(selectInput);
				} else {
					const inputElem = document.createElement("input");
					inputElem.className = "form-control";
					inputElem.dataset.editorid = column.id;
					inputElem.value = modalType === "edit" && dataContext ? dataContext[column.field] : ""; // pre-filling in the edit mode;
					formGroupElem.appendChild(inputElem);
					
					if(modalType === "edit" && column.id === "seqNo"){
						inputElem.disabled = true;
					}
				}
				//formGroupElem.appendChild(inputElem);
	
				colElem.appendChild(formGroupElem);
				currentRow.appendChild(colElem);
			});

			if (modalColumns.length % columnsPerShow !== 0) {
				const remainingCols =
				columnsPerShow - (modalColumns.length % columnsPerShow);
				const spacerCol = document.createElement("div");
				spacerCol.className = `col-lg-${remainingCols * 2}`; // adjust the spacer column
				currentRow.appendChild(spacerCol);
			}

			modalElement.show();

			// Save button logic
			const saveBtn = document.querySelector(".modal-footer .btn-primary");
			saveBtn.textContent = modalType === "create" ? "Create" : "Save changes";

			saveBtn.onclick = function saveHandler() {
				console.log("save테스트");
				const formData = {};

				// Collect form data
				modalColumns.forEach((column) => {
					const input = modalBodyElem.querySelector(`[data-editorid="${column.id}"]`);

					if (input) {
						formData[column.field] = input.value.trim();
					}
					console.log("input테스트");
				});
				
				if (modalType === "edit") {
					hiddenColumns.forEach(hiddenColId => {
						formData[hiddenColId] = dataContext[hiddenColId]; // 숨겨진 컬럼의 값을 기존 데이터에서 가져옴
					});
				}

				if (modalType === "create") {
					console.log("create테스트");

					// Add new item to grid data
					if (checkData(formData)) {
						console.log(formData);
						//formData[unqId] = grid.getDataLength() + 1;
						// dataView.insertItem(grid.getDataLength(), formData);

						if (confirm("Do you want to register?") == true) {
							console.log("등록테스트");
							insertList(JSON.stringify(formData));
							// 등록 성공 후 모달 숨기기
							modalElement.hide();
						}
					} else {
						alert("Please fill out all required fields.");
					return false;
					}
				} else if (modalType === "edit") {
					console.log("EDIT 테스트");
					// Update existing item in grid data
					let isChanged = false;
					for (let key in formData) {
						if (formData[key] !== originalData[key]) {
							isChanged = true;
							break;
						}
					}

					if (isChanged) {
						formData[unqId] = originalData[unqId];
						// dataView.updateItem(originalData[unqId], formData);

						if (confirm("Do you want to modify?") == true) {
							// updateFile(formData);
							updateList(JSON.stringify(formData));
						}
					} else {
						alert("No changes detected.");
					return;
					}
				}

				grid.render();
				modalElement.hide(); // Hide the modal after saving\
			};

			// // we prevent modal from closing when clicking outside
			// const modalDialog = document.querySelector('.modal-dialog');
			// modalDialog.addEventListener('click', (e) => {
			// 	e.stopPropagation(); // Prevent click from bubbling up
			// });

			// // we prevent the modal not to close when the user clicks esc button
			// modalElement._element.addEventListener('keydown', (e) => {
			// 	if (e.key === 'Escape') {
			// 		e.stopPropagation();
			// 		e.preventDefault(); 
			// 	}
			// });

			// modalElement._config.backdrop = 'static';
			// modalElement._config.keyboard = false;

			// Close button logic
			const closeBtn = document.querySelector(".modal-footer .btn-link");
			closeBtn.removeEventListener("click", closeHandler);
			closeBtn.addEventListener("click", closeHandler);

			function closeHandler() {
				if (modalType === "edit" && originalData) {
					dataView.updateItem(originalData[unqId], originalData);
				}
				modalElement.hide(); // we hide the modal
			}
			
			closeBtn.addEventListener("click", function () {
				if (modalType === "edit" && originalData) {
					dataView.updateItem(originalData[unqId], originalData); // Revert changes if canceled
				}
			}); 
		}
		</script>
	</th:block>
</html>
