<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	<th:block th:fragment="M101000000">
		<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-files">
			<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
			<path d="M15 3v4a1 1 0 0 0 1 1h4" />
			<path d="M18 17h-7a2 2 0 0 1 -2 -2v-10a2 2 0 0 1 2 -2h4l5 5v7a2 2 0 0 1 -2 2z" />
			<path d="M16 17v2a2 2 0 0 1 -2 2h-7a2 2 0 0 1 -2 -2v-10a2 2 0 0 1 2 -2h2" />
		</svg>
	</th:block>
	<th:block th:fragment="M102000000">
		<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-stopwatch">
			<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
			<path d="M5 13a7 7 0 1 0 14 0a7 7 0 0 0 -14 0z" />
			<path d="M14.5 10.5l-2.5 2.5" />
			<path d="M17 8l1 -1" />
			<path d="M14 3h-4" />
		</svg>

	</th:block>
	<th:block th:fragment="M201000000">
		<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-abacus">
			<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
			<path d="M5 3v18" />
			<path d="M19 21v-18" />
			<path d="M5 7h14" />
			<path d="M5 15h14" />
			<path d="M8 13v4" />
			<path d="M11 13v4" />
			<path d="M16 13v4" />
			<path d="M14 5v4" />
			<path d="M11 5v4" />
			<path d="M8 5v4" />
			<path d="M3 21h18" />
		</svg>
	</th:block>
	<th:block th:fragment="M202000000">
		<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-tournament">
			<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
			<path d="M4 4m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
			<path d="M20 10m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
			<path d="M4 12m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
			<path d="M4 20m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
			<path d="M6 12h3a1 1 0 0 1 1 1v6a1 1 0 0 1 -1 1h-3" />
			<path d="M6 4h7a1 1 0 0 1 1 1v10a1 1 0 0 1 -1 1h-2" />
			<path d="M14 10h4" />
		</svg>
	</th:block>
	<th:block th:fragment="M203000000">
		<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-vocabulary">
			<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
			<path d="M10 19h-6a1 1 0 0 1 -1 -1v-14a1 1 0 0 1 1 -1h6a2 2 0 0 1 2 2a2 2 0 0 1 2 -2h6a1 1 0 0 1 1 1v14a1 1 0 0 1 -1 1h-6a2 2 0 0 0 -2 2a2 2 0 0 0 -2 -2z" />
			<path d="M12 5v16" />
			<path d="M7 7h1" />
			<path d="M7 11h1" />
			<path d="M16 7h1" />
			<path d="M16 11h1" />
			<path d="M16 15h1" />
		</svg>
	</th:block>
	<th:block th:fragment="M204000000">
		<svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-stethoscope">
			<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
			<path d="M6 4h-1a2 2 0 0 0 -2 2v3.5h0a5.5 5.5 0 0 0 11 0v-3.5a2 2 0 0 0 -2 -2h-1" />
			<path d="M8 15a6 6 0 1 0 12 0v-3" />
			<path d="M11 3v2" />
			<path d="M6 3v2" />
			<path d="M20 10m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
		</svg>
	</th:block>
	<th:block th:fragment="M801000000">
		<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-adjustments-horizontal">
			<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
			<path d="M14 6m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
			<path d="M4 6l8 0" />
			<path d="M16 6l4 0" />
			<path d="M8 12m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
			<path d="M4 12l2 0" />
			<path d="M10 12l10 0" />
			<path d="M17 18m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
			<path d="M4 18l11 0" />
			<path d="M19 18l1 0" />
		</svg>
	</th:block>
	<th:block th:fragment="M901000000">
		<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-devices-2">
			<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
			<path d="M10 15h-6a1 1 0 0 1 -1 -1v-8a1 1 0 0 1 1 -1h6" />
			<path d="M13 4m0 1a1 1 0 0 1 1 -1h6a1 1 0 0 1 1 1v14a1 1 0 0 1 -1 1h-6a1 1 0 0 1 -1 -1z" />
			<path d="M7 19l3 0" />
			<path d="M17 8l0 .01" />
			<path d="M17 16m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
			<path d="M9 15l0 4" />
		</svg>
	</th:block>
</html>