<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
	<head>
		<meta charset="UTF-8">
		<title>파일업로드</title>
		
		<link rel="stylesheet" href="css/jquery-ui-1.13.3/jquery-ui.css" type="text/css" />
		<link rel="stylesheet" href="js/slickgrid/dist/styles/css/slick.grid.css" type="text/css" />
		<link rel="stylesheet" href="js/slickgrid/dist/styles/css/slick-alpine-theme.css" type="text/css" />

		<link rel="stylesheet" href="js/slickgrid/dist/styles/css/slick.grid.css" type="text/css" />
		<link rel="stylesheet" href="js/slickgrid/dist/styles/css/slick-alpine-theme.css" type="text/css" />

		
		<!-- // tabler framework css files import -->
		<link href="css/css-tabler/tabler.min.css?1692870487" rel="stylesheet" />
		<link href="css/css-tabler/tabler-flags.min.css?1692870487" rel="stylesheet" />
		<link href="css/css-tabler/tabler-payments.min.css?1692870487" rel="stylesheet" />
		<link href="css/css-tabler/tabler-vendors.min.css?1692870487" rel="stylesheet" />
		<link href="css/css-tabler/demo.min.css?1692870487" rel="stylesheet" />
		
		<!-- // custom css for this page -->
		<link href="css/file-css.css" rel="stylesheet" />
		
	    <script
     	 src="js/libs-tabler/bootstrap/dist/js/bootstrap.bundle.min.js"
    	></script>
		<script src="js/jquery-3.7.1.min.js"></script>
		<script src="js/jquery-ui.min.js"></script>
		<script src="js/slickgrid/lib/jquery.event.drag-2.3.0.js"></script>
		
		<script src="js/slickgrid/dist/browser/slick.core.js"></script>
		<script src="js/slickgrid/dist/browser/slick.interactions.js"></script>
		<script src="js/slickgrid/dist/browser/slick.grid.js"></script>
		<script src="js/slickgrid/dist/browser/plugins/slick.autotooltips.js"></script>
		<script src="js/slickgrid/dist/browser/plugins/slick.cellrangedecorator.js"></script>
		<script src="js/slickgrid/dist/browser/plugins/slick.cellrangeselector.js"></script>
		<script src="js/slickgrid/dist/browser/plugins/slick.cellexternalcopymanager.js"></script>
		<script src="js/slickgrid/dist/browser/plugins/slick.cellselectionmodel.js"></script>
		<script src="js/slickgrid/dist/browser/slick.editors.js"></script>
		<script src="js/slickgrid/dist/browser/slick.formatters.js"></script>
		<script src="js/slickgrid/dist/browser/slick.dataview.js"></script>
		<script src="js/slickgrid/dist/browser/plugins/slick.checkboxselectcolumn.js"></script>
		<script src="js/slickgrid/dist/browser/plugins/slick.rowselectionmodel.js"></script>
		<script src="js/slickgrid/dist/browser/slick.compositeeditor.js"></script>
		<script src="js/slickgrid/dist/browser/controls/slick.pager.js"></script>
		<script src="js/xlsx.full.min.js"></script>
		
		<!-- <script src="js/js-tabler/demo-theme.min.js?1692870487"></script> -->
		<script src="js/js-tabler/tabler.min.js?1692870487" defer></script>		
		<script src="js/libs-tabler/apexcharts/dist/apexcharts.min.js?1692870487" defer></script>
		<script src="js/libs-tabler/jsvectormap/dist/js/jsvectormap.min.js?1692870487" defer></script>
		<script src="js/libs-tabler/jsvectormap/dist/maps/world.js?1692870487" defer></script>
		<script src="js/libs-tabler/jsvectormap/dist/maps/world-merc.js?1692870487" defer></script>
        <script src="js/utils.js" defer></script>

		<script src="js/libs-tabler/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

		<link href="css/common-css.css" rel="stylesheet" />

		<style>
			@import url("css/inter.css");
			
			:root {
				--tblr-font-sans-serif: "Inter Var", -apple-system, BlinkMacSystemFont,
					San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
			}
			
			body {
				font-feature-settings: "cv03", "cv04", "cv11";
			}
			
		</style>
	</head>
<!---------- header,left (시작) -------------->
<!-- <header align="center">
    <b>File Management System(Extract,Load,View)</b>
    <img height="60" src="/images/img_charater.png" align="right" />
  </header> -->
<div class="page">
	<header class="navbar navbar-expand-md d-print-none">
		<div class="container-xl">
			<div class="d-flex align-items-center justify-content-between w-100">
				<!-- Left Side: Brand and Toggler -->
				<div class="d-flex align-items-center">
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu" aria-controls="navbar-menu" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<h1 class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3">
						<!-- Here -->
					</h1>
				</div>

				<!-- Right Side: Nav Items and Avatar/Login Button -->
				<div class="navbar-nav d-flex align-items-center ms-auto">
					<a href="?theme=dark" class="nav-link px-0 hide-theme-dark" data-bs-toggle="tooltip" data-bs-placement="bottom" aria-label="Enable dark mode" data-bs-original-title="Enable dark mode"> <!-- Dark mode icon --> <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
							<path stroke="none" d="M0 0h24H0z" fill="none"></path>
							<path d="M12 3c.132 0 .263 0 .393 0a7.5 7.5 0 0 0 7.92 12.446a9 9 0 1 1 -8.313 -12.454z">
							</path>
						</svg>
					</a> <a href="?theme=light" class="nav-link px-0 hide-theme-light" data-bs-toggle="tooltip" data-bs-placement="bottom" aria-label="Enable light mode" data-bs-original-title="Enable light mode"> <!-- Light mode icon --> <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
							<path stroke="none" d="M0 0h24H0z" fill="none"></path>
							<path d="M12 12m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0">
							</path>
							<path d="M3 12h1m8 -9v1m8 8h1m-9 8v1m-6.4 -15.4l.7 .7m12.1 -.7l-.7 .7m0 11.4l.7 .7m-12.1 -.7l-.7 .7">
							</path>
						</svg>
					</a>
					<div class="nav-item dropdown">
						<div class="dropdown-menu dropdown-menu-arrow dropdown-menu-end dropdown-menu-card">
							<div class="card">
								<!-- Notification content -->
							</div>
						</div>
					</div>
					<div style="justify-content: space-between;">
						<a href="https://www.notion.so/" class="btn" style="padding: 4px 10px; color: rgb(169, 169, 169); font-size: 13px;"> <!-- SVG icon from http://tabler-icons.io --> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-link">
								<path stroke="none" d="M0 0h24v24H0z" fill="none" />
								<path d="M9 15l6 -6" />
								<path d="M11 6l.463 -.536a5 5 0 0 1 7.071 7.072l-.534 .464" />
								<path d="M13 18l-.397 .534a5.068 5.068 0 0 1 -7.127 0a4.972 4.972 0 0 1 0 -7.071l.524 -.463" /></svg> Docs
						</a> <a href="#!" class="btn" style="padding: 4px 10px; color: rgb(169, 169, 169); font-size: 13px;" onClick="javascript:goMenuPage('/login');"> <span class="avatar" style="background-image: url(https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?q=80&w=3570&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)"></span> Log in
							<a href="#!" class="btn" style="padding: 4px 10px; color: rgb(169, 169, 169); font-size: 13px;" onClick="javascript:goMenuPage('/subscription');"> <span class="avatar" style="background-image: url(https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?q=80&w=3570&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)"></span> Subscription
						</a>
					</div>
				</div>
			</div>
		</div>
	</header>
	</div>
	<body>	
		<script src="js/js-tabler/demo-theme.min.js?1692870487"></script>
		<div class="page">
			<!-- <aside
			class="navbar navbar-vertical navbar-expand-lg"
			data-bs-theme="dark"
			>
		</aside> -->
		<script src="js/js-tabler/demo-theme.min.js?1692870487"></script>
		<aside class="navbar navbar-vertical navbar-expand-lg" data-bs-theme="dark">
			<div class="container-fluid" style="background-color: rgb(0, 37, 171)">
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sidebar-menu" aria-controls="sidebar-menu" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<h1 class="navbar-brand navbar-brand-autodark">
					<a href="." style="color: #d4d4d4">iFrame 2.0</a>
				</h1>
				<div class="navbar-nav flex-row d-lg-none">
					<div class="nav-item d-none d-lg-flex me-3">
						<div class="btn-list">
							<a href="https://github.com/tabler/tabler" class="btn" target="_blank" rel="noreferrer"> <!-- Download SVG icon from http://tabler-icons.io/i/brand-github --> <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
				<path stroke="none" d="M0 0h24v24H0z" fill="none" />
				<path d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5" />
			  </svg> Source code
							</a> <a href="https://github.com/sponsors/codecalm" class="btn" target="_blank" rel="noreferrer"> <!-- Download SVG icon from http://tabler-icons.io/i/heart --> <svg xmlns="http://www.w3.org/2000/svg" class="icon text-pink" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
				<path stroke="none" d="M0 0h24v24H0z" fill="none" />
				<path d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572" />
			  </svg> Sponsor
							</a>
						</div>
					</div>
					<div class="d-none d-lg-flex">
						<a href="?theme=dark" class="nav-link px-0 hide-theme-dark" title="Enable dark mode" data-bs-toggle="tooltip" data-bs-placement="bottom"> <!-- Download SVG icon from http://tabler-icons.io/i/moon --> <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
			  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
			  <path d="M12 3c.132 0 .263 0 .393 0a7.5 7.5 0 0 0 7.92 12.446a9 9 0 1 1 -8.313 -12.454z" />
			</svg>
						</a> <a href="?theme=light" class="nav-link px-0 hide-theme-light" title="Enable light mode" data-bs-toggle="tooltip" data-bs-placement="bottom"> <!-- Download SVG icon from http://tabler-icons.io/i/sun --> <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
			  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
			  <path d="M12 12m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0" />
			  <path d="M3 12h1m8 -9v1m8 8h1m-9 8v1m-6.4 -15.4l.7 .7m12.1 -.7l-.7 .7m0 11.4l.7 .7m-12.1 -.7l-.7 .7" />
			</svg>
						</a>
						<div class="nav-item dropdown d-none d-md-flex me-3">
							<a href="#" class="nav-link px-0" data-bs-toggle="dropdown" tabindex="-1" aria-label="Show notifications"> <!-- Download SVG icon from http://tabler-icons.io/i/bell --> <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
				<path stroke="none" d="M0 0h24v24H0z" fill="none" />
				<path d="M10 5a2 2 0 1 1 4 0a7 7 0 0 1 4 6v3a4 4 0 0 0 2 3h-16a4 4 0 0 0 2 -3v-3a7 7 0 0 1 4 -6" />
				<path d="M9 17v1a3 3 0 0 0 6 0v-1" />
			  </svg> <span class="badge bg-red"></span>
							</a>
							<div class="dropdown-menu dropdown-menu-arrow dropdown-menu-end dropdown-menu-card">
								<div class="card">
									<div class="card-header">
										<h3 class="card-title">Last updates</h3>
									</div>
									<div class="list-group list-group-flush list-group-hoverable">
										<div class="list-group-item">
											<div class="row align-items-center">
												<div class="col-auto">
													<span class="status-dot status-dot-animated bg-red d-block"></span>
												</div>
												<div class="col text-truncate">
													<a href="#" class="text-body d-block">Example 1</a>
													<div class="d-block text-secondary text-truncate mt-n1">Change deprecated html tags to text decoration classes (#29604)</div>
												</div>
												<div class="col-auto">
													<a href="#" class="list-group-item-actions"> <!-- Download SVG icon from http://tabler-icons.io/i/star --> <svg xmlns="http://www.w3.org/2000/svg" class="icon text-muted" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
							<path stroke="none" d="M0 0h24v24H0z" fill="none" />
							<path d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z" />
						  </svg>
													</a>
												</div>
											</div>
										</div>
										<div class="list-group-item">
											<div class="row align-items-center">
												<div class="col-auto">
													<span class="status-dot d-block"></span>
												</div>
												<div class="col text-truncate">
													<a href="#" class="text-body d-block">Example 2</a>
													<div class="d-block text-secondary text-truncate mt-n1">justify-content:between ⇒ justify-content:space-between (#29734)</div>
												</div>
												<div class="col-auto">
													<a href="#" class="list-group-item-actions show"> <!-- Download SVG icon from http://tabler-icons.io/i/star --> <svg xmlns="http://www.w3.org/2000/svg" class="icon text-yellow" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
							<path stroke="none" d="M0 0h24v24H0z" fill="none" />
							<path d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z" />
						  </svg>
													</a>
												</div>
											</div>
										</div>
										<div class="list-group-item">
											<div class="row align-items-center">
												<div class="col-auto">
													<span class="status-dot d-block"></span>
												</div>
												<div class="col text-truncate">
													<a href="#" class="text-body d-block">Example 3</a>
													<div class="d-block text-secondary text-truncate mt-n1">Update change-version.js (#29736)</div>
												</div>
												<div class="col-auto">
													<a href="#" class="list-group-item-actions"> <!-- Download SVG icon from http://tabler-icons.io/i/star --> <svg xmlns="http://www.w3.org/2000/svg" class="icon text-muted" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
							<path stroke="none" d="M0 0h24v24H0z" fill="none" />
							<path d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z" />
						  </svg>
													</a>
												</div>
											</div>
										</div>
										<div class="list-group-item">
											<div class="row align-items-center">
												<div class="col-auto">
													<span class="status-dot status-dot-animated bg-green d-block"></span>
												</div>
												<div class="col text-truncate">
													<a href="#" class="text-body d-block">Example 4</a>
													<div class="d-block text-secondary text-truncate mt-n1">Regenerate package-lock.json (#29730)</div>
												</div>
												<div class="col-auto">
													<a href="#" class="list-group-item-actions"> <!-- Download SVG icon from http://tabler-icons.io/i/star --> <svg xmlns="http://www.w3.org/2000/svg" class="icon text-muted" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
							<path stroke="none" d="M0 0h24v24H0z" fill="none" />
							<path d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z" />
						  </svg>
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<script>
					function goMenuPage (pageName) {
						$("#pageName").val(pageName);
						$("#form").submit();
					}
				</script>
				<form id="form" name="form" method="post" action="/menuLink">
					<input type="hidden" id="pageName" name="pageName" />
					<input type="hidden" th:name="${csrfParameterName}" th:value="${csrfToken}" />
				</form>
				<div class="collapse navbar-collapse" id="sidebar-menu">
					<ul class="navbar-nav pt-lg-3">
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#navbar-help" data-bs-toggle="dropdown" data-bs-auto-close="false" role="button" aria-expanded="false">
								<span class="nav-link-icon d-md-none d-lg-inline-block">
									<!-- Download SVG icon from http://tabler-icons.io/i/lifebuoy -->
									<svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
										  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
										  <path d="M12 12m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0" />
										<path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
										<path d="M15 15l3.35 3.35" />
										<path d="M9 15l-3.35 3.35" />
										<path d="M5.65 5.65l3.35 3.35" />
										<path d="M18.35 5.65l-3.35 3.35" />
									</svg>
								</span>
								<span class="nav-link-title"> Input Files </span>
							</a>
							<div class="dropdown-menu show">
								<a class="dropdown-item" href="#" onClick="javascript:goMenuPage('/views/wrk/fil/WRKFIL001M0');"> File Management </a>
								<a class="dropdown-item" href="#" onClick="javascript:goMenuPage('/views/wrk/fil/WRKFIL002M0');"> File Input </a> 
								<a class="dropdown-item" href="#" onClick="javascript:goMenuPage('/views/wrk/fil/WRKFIL003M0');"> File Upload </a> 
								<a class="dropdown-item" href="#" onClick="javascript:goMenuPage('/views/wrk/fil/WRKFIL004M0');"> Load history </a>
								<a class="dropdown-item" href="#" onClick="javascript:goMenuPage('/views/wrk/OPTIONDETAILS');"> Chart Sample Page </a>
							</div>
						</li>
						<li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#navbar-base" data-bs-toggle="dropdown" data-bs-auto-close="false" role="button" aria-expanded="false"> <span class="nav-link-icon d-md-none d-lg-inline-block">
									<!-- Download SVG icon from http://tabler-icons.io/i/package --> <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
					  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
					  <path d="M12 3l8 4.5l0 9l-8 4.5l-8 -4.5l0 -9l8 -4.5" />
					  <path d="M12 12l8 -4.5" />
					  <path d="M12 12l0 9" />
					  <path d="M12 12l-8 -4.5" />
					  <path d="M16 5.25l-8 4.5" />
					</svg>
							</span> <span class="nav-link-title"> Job Management </span>
						</a>
							<div class="dropdown-menu show">
								<div class="dropdown-menu-columns">
									<div class="dropdown-menu-column">
										<a class="dropdown-item" href="#" onClick="javascript:goMenuPage('/views/wrk/bat/WRKBAT001M0');"> Job List </a> 
										<a class="dropdown-item" href="#" onClick="javascript:goMenuPage('/views/wrk/bat/WRKBAT002M0');"> Job Runs </a> 
										<a class="dropdown-item" href="#" onClick="javascript:goMenuPage('/views/wrk/bat/WRKBAT003M0');"> Job Results </a>
									</div>
								</div>
							</div></li>
						<li class="nav-item active dropdown"><a class="nav-link dropdown-toggle" href="#navbar-layout" data-bs-toggle="dropdown" data-bs-auto-close="false" role="button" aria-expanded="true"> <span class="nav-link-icon d-md-none d-lg-inline-block">
									<!-- Download SVG icon from http://tabler-icons.io/i/layout-2 --> <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
					  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
					  <path d="M4 4m0 2a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v1a2 2 0 0 1 -2 2h-2a2 2 0 0 1 -2 -2z" />
					  <path d="M4 13m0 2a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v3a2 2 0 0 1 -2 2h-2a2 2 0 0 1 -2 -2z" />
					  <path d="M14 4m0 2a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v3a2 2 0 0 1 -2 2h-2a2 2 0 0 1 -2 -2z" />
					  <path d="M14 15m0 2a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v1a2 2 0 0 1 -2 2h-2a2 2 0 0 1 -2 -2z" />
					</svg>
							</span> <span class="nav-link-title"> Settlement </span>
						</a>
							<div class="dropdown-menu">
								<div class="dropdown-menu-columns">
									<div class="dropdown-menu-column">
										<a class="dropdown-item" href="#"  onClick="javascript:goMenuPage('/views/biz/jnl/BIZJNL001M0'); "> Account Code </a> 
										<a class="dropdown-item" href="#"  onClick="javascript:goMenuPage('/views/biz/jnl/BIZJNL002M0'); "> Journal Rules </a>
										<a class="dropdown-item" href="#"  onClick="javascript:goMenuPage('/views/biz/jnl/BIZJNL003M0'); "> Journal Result </a> 
										
										<a class="dropdown-item" href="#"  onClick="javascript:goMenuPage('/views/BIZ/INS/BIZINS001M0'); "> Insurance Summary(BEL) </a> 
										<a class="dropdown-item" href="#"  onClick="javascript:goMenuPage('/views/BIZ/INS/BIZINS002M0'); "> Insurance Summary(RA) </a> 
										<a class="dropdown-item" href="#"  onClick="javascript:goMenuPage('/views/BIZ/INS/BIZINS003M0'); "> Insurance Summary(CSM) </a> 

										<a class="dropdown-item" href="#"  onClick="javascript:goMenuPage('/views/BIZ/FST/BIZFST001M0'); "> Finance Statement(BS) </a> 
										<a class="dropdown-item" href="#"  onClick="javascript:goMenuPage('/views/BIZ/FST/BIZFST002M0'); "> Finance Statement(PL) </a>	
									</div>
								</div></li>
						<li class="nav-item active dropdown"><a class="nav-link dropdown-toggle" href="#navbar-extra" data-bs-toggle="dropdown" data-bs-auto-close="false" role="button" aria-expanded="false"> <span class="nav-link-icon d-md-none d-lg-inline-block">
									<!-- Download SVG icon from http://tabler-icons.io/i/ghost --> <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
					  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
					  <path d="M5 11a7 7 0 0 1 14 0v7a1.78 1.78 0 0 1 -3.1 1.4a1.65 1.65 0 0 0 -2.6 0a1.65 1.65 0 0 1 -2.6 0a1.65 1.65 0 0 0 -2.6 0a1.78 1.78 0 0 1 -3.1 -1.4v-7" />
					  <path d="M10 10l.01 0" />
					  <path d="M14 10l.01 0" />
					  <path d="M10 14a3.5 3.5 0 0 0 4 0" />
					</svg>
							</span> <span class="nav-link-title"> Admin </span>
						</a>
							<div class="dropdown-menu">
								<div class="dropdown-menu-columns">
									<div class="dropdown-menu-column">
										<a class="dropdown-item" href="#" onClick="javascript:goMenuPage('/views/BIZ/FST/BIZFST002M0'); "> Users </a>
										<a class="dropdown-item" href="#" onClick="javascript:goMenuPage('/views/BIZ/INS/BIZINS001M0'); "> Code </a>
										<a class="dropdown-item" href="#" onClick="javascript:goMenuPage('/views/BIZ/INS/BIZINS002M0'); "> Services </a>
									</div>
								</div></li>
						<li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#navbar-extra" data-bs-toggle="dropdown" data-bs-auto-close="false" role="button" aria-expanded="false"> <span class="nav-link-icon d-md-none d-lg-inline-block">
									<!-- Download SVG icon from http://tabler-icons.io/i/star --> <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
					  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
					  <path d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z" />
					</svg>
							</span> <span class="nav-link-title"> Product Admin </span>
						</a>
							<div class="dropdown-menu">
								<div class="dropdown-menu-columns">
									<div class="dropdown-menu-column">
										<a class="dropdown-item" href="#" onClick="javascript:goMenuPage('/views/BIZ/INS/BIZINS003MO'); "> Company </a> 
										<a class="dropdown-item" href="#" onClick="javascript:goMenuPage('/views/BIZ/ADT/BIZADT001MO'); "> Users </a>
										<a class="dropdown-item" href="#" onClick="javascript:goMenuPage('/views/BIZ/FST/BIZFST002MO'); "> Services </a>
									</div>
							</div></li>
					</ul>
				</div>
			</div>
		</aside>
	</body>
</html>