<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<th:block layout:fragment="content">
	<script src="js/js-tabler/demo-theme.min.js?1692870487"></script>
	<div class="page-wrapper" id="page-wrapper">
		<div class="container" id="container">
			<h2>[[${menuNm}]]</h2>
			<div class="ptag-container">
				<!-- <span><a href="#"> Home ></a></span> -->
				<span>[[${navigator}]]</span>
				<div class="form-container">
					<div class="form-box">
						<form id="filter-form" name="form" method="post" action="/OPNUSR002M0SelectList" onsubmit="return false;">
							<div class="row align-items-center">
								<div class="col-auto">
									<!-- 회사번호구분코드 -->
									<label for="lblCompNoDvCd" class="form-label">Company Number Type : </label>
									<select id="selCompNoDvCd" class="form-select select-options p-1" style="padding: 3px">
										<option selected="selected" value="">- select -</option>
										<option value="1">DUNS Number</option>
										<option value="2">Corporation Number</option>
										<option value="3">Business Registration Number</option>
									</select>
								</div>
								<div class="col-auto">
									<!-- 회사번호/명 -->
									<label for=lblCompNoNm class="form-label">Company Number/Name : </label>
									<input id="inpCompNoNm" name="inpSearchTxt" type="text" class="form-control p-1" placeholder="Input Name" />
								</div>
								<div class="col-auto">
									<!-- 담당자명 -->
									<label for="lblPtbNm" class="form-label">Manager Name : </label>
									<input id="inpPtbNm" name="inpSearchTxt" type="text" class="form-control p-1" placeholder="Input Name" />
								</div>
								<div class="col-auto">
									<!-- 국가명 -->
									<label for="lblCountryNm" class="form-label">Country Name : </label>
									<input id="inpCountryNm" name="inpSearchTxt" type="text" class="form-control p-1" placeholder="Input Name" />
								</div>
								<div class="col-auto">
									<button type="button" class="btn btn-primary search-button p-1" style="padding: 4px 10px; color: white; font-size: 13px" onclick="main()">Search</button>
								</div>
								<div class="col text-end">
									<p style="height:27px;">&nbsp;</p>
									<button form="new-form" type="button" class="btn btn-primary" style="padding: 4px 10px; color: white; font-size: 13px" onclick="renewOptions(true);openDetails('create');{(ev) => {if (ev.detail === 0) {ev.preventDefault();}}}" data-test="create-button" onsubmit="return false;" hidden="true">Create</button>
									<button type="button" class="btn btn-lime" style="padding: 4px 10px; color: white; font-size: 13px" id="downloadExcel">Download</button>
									<button form="new-form" type="button" class="btn btn-secondary" style="padding: 4px 10px; color: white; font-size: 13px" onclick="renewOptions(true);openDetails('edit');{(ev) => {if (ev.detail === 0) {ev.preventDefault();}}}" data-test="edit-button" onsubmit="return false;">Edit</button>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div style="padding-top: 2em"></div>
				<div class="card card-md" id="divMyGrid">
				</div>
			</div>
			<div class="popupDataForm">
				<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" style="display: none;">Launch modal with form</button>

				<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-small" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title">New report</h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>

							<div class="modal-body">
								<div class="row"></div>
							</div>
							<div class="modal-footer">
								<a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal"> Cancel </a> <a href="#" class="btn btn-primary ms-auto" data-bs-dismiss="modal" style="padding: 4px 10px; color: white; font-size: 13px;"> <path stroke="none" d="M0 0h24v24H0z" fill="none"></path> <path d="M12 5l0 14"></path> <path d="M5 12l14 0"></path> </svg> Save changes
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="js/utils.js"></script>
	<script>
			function checkData(data) {
			return parentCheckData(data, check_cols);
			}
	
			function getCsList(input) {
				console.log("getCsList input : " + input);
				var option = {
							   id          : "SelectList"
						     , type        : "post"
							 , url         : "/OPNUSR002M0SelectList"
							 , async       : false
							 , dataType    : "json"
							 , contentType : "application/json; charset=utf-8"
							 , data        : input
				             };
				
				gf_Transaction(option, fn_callback );
			}
	
			function insertCs(addedRow) {
				var option = {
						   id          : "insertList"
					     , type        : "post"
						 , url         : "/OPNUSR002M0UpdateList"
						 , async       : false
						 , dataType    : "text"
						 , contentType : "application/json; charset=utf-8"
						 , data        : addedRow
			             };
			
				gf_Transaction(option, fn_callback );
			}
	
			function fn_updateCs(input) {
				console.log("updateCs input : " + input);
				var option = {
						   id          : "updateList"
					     , type        : "post"
						 , url         : "/OPNUSR002M0UpdateList"
						 , async       : true
						 , dataType    : "text"
						 , contentType : "application/json; charset=utf-8"
						 , data        : input
			             };
			
				gf_Transaction(option, fn_callback );
			}
			
		</script>
	<script>
			$(document).ready(function () {
				console.log("Document is ready.");
				//화면 접속시 바로 조회
				main();
				//send버튼 누르면, 조건적용하여 검색
				$("#send").click(main);
				//엔터키누르면, 조건적용하여 검색
				$("input").on("keyup", function (key) {
					if (key.keyCode == 13) {
						main();
					}
				});
			});
			
			// this method will trigger the popup modal to be draggle by mouse click
			$(document).ready(function (){
				// we initialize draggable when the modal is shown
				$('#exampleModal').on('shown.bs.modal', function () {
					// then we make the modal draggable
					$(this).find(".modal-dialog").draggable({
						handle: ".modal-header", // we will restrict dragging to the header
						// containment: "window"	// we prevent dragging outside the window box for popup container
					});
				});
		
				// this will then reset position when the modal is hidden
				$('#exampleModal').on('hidden.bs.modal', function () {
					$(this).find(".modal-dialog").css({
						top: "",
						left: "",
						right: "",
						bottom: ""
					});
				});
					// // Optional Case:	we can trigger the modal for test pirpose
					// // this should be romoved when the code is ready for production 
					// $('.btn-primary').trigger('click');
			})
			var grid;
			var dataView;
			var data;
			var unqId = "seqNo";
			var xcpt_cols = ["seqNo", "csNo", "oldStatDvCd", "frstRegDtm"];
			var check_cols = ["compNo", "compNm"];
			
			var compNoDvCdList  = { 1:"System Operator"
					              , 2:"Corporation Number"
					              , 3:"Business Registration Number" };
			var statDvCdList = { 0:"Normal use"
					           , 1:"Application for use"
						       , 2:"Waiting for use"
							   , 3:"Application for change"
					           , 8:"Application for suspension of use"
					           , 9:"Suspension of use" };
			
			var columns = [
							{ id: unqId,		name: "Seq",							field: unqId,							width: 80, 	editor: Slick.Editors.Text, validator: createValidator, headerCssClass: "slick-header-columns", cssClass: "slick-column-center" }
						, { id: "csNo",		 	name: "Customer number",				field: "csNo",		 	sortable: true, width: 0,	editor: Slick.Editors.Text, validator: createValidator, hidden:true }
						, { id: "compNoDvCd",	name: "Type of company identification", field: "compNoDvCd",	sortable: true, width: 220, editor: gf_Select2Editor  , formatter: gf_Select2Formatter, dataSource: compNoDvCdList, headerCssClass: "slick-header-columns", cssClass: "slick-column-left" }
						, { id: "compNo",		name: "Company identification number",	field: "compNo",		sortable: true, width: 220, editor: Slick.Editors.Text, validator: (value, args) => complexValidator(value, args, [createValidator, noWhitespaceValidator]), headerCssClass: "slick-header-columns", cssClass: "slick-column-center"}
						, { id: "compNm",		name: "Company name",					field: "compNm",		sortable: true, width: 150, editor: Slick.Editors.Text, validator: createValidator, headerCssClass: "slick-header-columns", cssClass: "slick-column-left" }
						, { id: "repPhNo",		name: "Representative phone number",	field: "repPhNo",		sortable: true, width: 220, editor: Slick.Editors.Text, validator: createValidator, headerCssClass: "slick-header-columns", cssClass: "slick-column-center" }
						, { id: "reperNm",		name: "Representative person name",	 	field: "reperNm",		sortable: true, width: 200, editor: Slick.Editors.Text, validator: createValidator, headerCssClass: "slick-header-columns", cssClass: "slick-column-left" }
						, { id: "ptbNm",		name: "Manager name",					field: "ptbNm",			sortable: true, width: 120, editor: Slick.Editors.Text, validator: createValidator, headerCssClass: "slick-header-columns", cssClass: "slick-column-left" }
						, { id: "ptbPhNo",		name: "Manager phone number",			field: "ptbPhNo",		sortable: true, width: 180, editor: Slick.Editors.Text, validator: createValidator, headerCssClass: "slick-header-columns", cssClass: "slick-column-center" }
						, { id: "ptbEmail",	 	name: "Manager email",					field: "ptbEmail",	 	sortable: true, width: 200, editor: Slick.Editors.Text, validator: createValidator, headerCssClass: "slick-header-columns", cssClass: "slick-column-left" }
						, { id: "postNo",		name: "Postal code",					field: "postNo",		sortable: true, width: 100, editor: Slick.Editors.Text, validator: createValidator, headerCssClass: "slick-header-columns", cssClass: "slick-column-center" }
						, { id: "addrs",		name: "Company address 1",				field: "addrs",			sortable: true, width: 200, editor: Slick.Editors.Text, validator: createValidator, headerCssClass: "slick-header-columns", cssClass: "slick-column-left" }
						, { id: "dtlsAddrs",	name: "Company address 2",				field: "dtlsAddrs",		sortable: true, width: 200, editor: Slick.Editors.Text, validator: createValidator, headerCssClass: "slick-header-columns", cssClass: "slick-column-left" }
						, { id: "statDvCd",	 	name: "Status",						 	field: "statDvCd",	 	sortable: true, width: 100, editor: gf_Select2Editor  , formatter: gf_Select2Formatter, dataSource: statDvCdList, headerCssClass: "slick-header-columns", cssClass: "slick-column-left" }
						, { id: "oldStatDvCd",	name: "Status",						 	field: "oldStatDvCd",	sortable: true, width: 100, editor: Slick.Editors.Text, validator: createValidator, hidden:true }
						, { id: "useStrDtm",	name: "Use start date/time",			field: "useStrDtm",		sortable: true, width: 150, editor: Slick.Editors.Text, validator: createValidator, headerCssClass: "slick-header-columns", cssClass: "slick-column-center" }
						, { id: "useEndDtm",	name: "Use end date/time",				field: "useEndDtm",		sortable: true, width: 150, editor: Slick.Editors.Text, validator: createValidator, headerCssClass: "slick-header-columns", cssClass: "slick-column-center" }
						, { id: "countryCd",	name: "Country code",					field: "countryCd",		sortable: true, width: 100, editor: Slick.Editors.Text, validator: createValidator, headerCssClass: "slick-header-columns", cssClass: "slick-column-center" }
						, { id: "countryNmKor", name: "Country Name(Korea)",			field: "countryNmKor", 	sortable: true, width: 150, editor: Slick.Editors.Text, validator: createValidator, headerCssClass: "slick-header-columns", cssClass: "slick-column-left" }
						, { id: "countryNmEng", name: "Country Name(English)",			field: "countryNmEng", 	sortable: true, width: 180, editor: Slick.Editors.Text, validator: createValidator, headerCssClass: "slick-header-columns", cssClass: "slick-column-left" }
						, { id: "frstRegDtm",	name: "First registration date/time",	field: "frstRegDtm",	sortable: true, width: 200, editor: Slick.Editors.Text, validator: createValidator, headerCssClass: "slick-header-columns", cssClass: "slick-column-center" }
						];
	
			var options = {
							enableCellNavigation: true
						, enableColumnReorder: false
						, forceFitColumns: false
						, multiColumnSort: true
						, numberedMultiColumnSort: true
						, tristateMultiColumnSort: true
						, sortColNumberInSeparateSpan: true
						, enableAutoSizeColumns: true
						, editable: false 
						, enableAddRow: true
						, autoWidth: true
						, asyncEditorLoading: false
						, autoEdit: false
						, autoEditNewRow: false
						, rowHeight: 35
						};	
	
			var newRowIds = 0;
	
			var pluginOptions = {
				clipboardCommandHandler: function (editCommand) {
					undoRedoBuffer.queueAndExecuteCommand.call(
						undoRedoBuffer,
						editCommand
					);
				},
				readOnlyMode: false,
				includeHeaderWhenCopying: false,
				newRowCreator: function (count) {
					for (var i = 0; i < count; i++) {
						var item = {
							id: "newRow_" + newRowIds++,
						};
						grid.getData().addItem(item);
					}
				},
			};
	
			function main() {
				// 그리드 초기화 및 데이터 로드
				console.log("Initializing SlickGrid...");
				getCsList(
							(input = JSON.stringify({ 
														compNoDvCd: $("#selCompNoDvCd").val()
														, compNoNm:	$("#inpCompNoNm").val()
														, countryNm:	$("#inpPtbNm").val()
														, ptbNm:		$("#inpCountryNm").val()
							}))
						);
			}
			/**
			 * Transaction callback 함수
			**/
			function fn_callback(result) {
				//console.log("fn_callback : " + result.id);
				if ( result.resultCd == "S" ) {
					
					switch (result.id) {
						case "SelectList":
							
							fn_setGrid(result.data);
							
						break;
						case "insertList":
							
							main();
							
						break;
						case "updateList":
							
							main();
							
						break;
					}
					
				} else if( result.resultCd == "E" ) {
					
				} else {
					console.log("fn_callback result : ", result);
				}
				
			}
			
			function fn_setGrid(data){
	
				dataView = new Slick.Data.DataView({ idField: unqId });
				grid     = new Slick.Grid("#divMyGrid", dataView, columns, options);
	
				// Make the grid respond to DataView change events.
				dataView.onRowCountChanged.subscribe(function (e, args) {
					grid.updateRowCount();
					grid.render();
				});
	
				dataView.onRowsChanged.subscribe(function (e, args) {
					grid.invalidate();
					grid.render();
				});
	
				// setItems의 두번째 argument를 통해 unique id에 해당하는 컬럼 지정가능
				dataView.setItems(data, unqId);
	
				// when "onBeforeSort" returns false, the "onSort" won't execute (for example a backend server error while calling backend query to sort)
				grid.onBeforeSort.subscribe(function (e, args) {
					return true;
				});
	
				// 정렬
				grid.onSort.subscribe(function (e, args) {
					var cols = args.sortCols;
		
					data.sort(function (dataRow1, dataRow2) {
					for (var i = 0, l = cols.length; i < l; i++) {
						var field = cols[i].sortCol.field;
						var sign = cols[i].sortAsc ? 1 : -1;
						var value1 = dataRow1[field],
						value2 = dataRow2[field];
						var result =
						(value1 == value2 ? 0 : value1 > value2 ? 1 : -1) * sign;
						if (result != 0) {
						return result;
						}
					}
					return 0;
					});
		
					grid.render();
				});
		
				grid.setSelectionModel(new Slick.CellSelectionModel());
				grid.registerPlugin(new Slick.AutoTooltips());
		
				// set keyboard focus on the grid
				//grid.getCanvasNode().focus();
				grid.registerPlugin(new Slick.CellExternalCopyManager(pluginOptions));
		
				grid.onAddNewRow.subscribe(function (e, args) {
					var newItem = args.item;
					var column = args.column;
					dataView.beginUpdate();
					dataView.setItems(data);
					dataView.endUpdate();
					grid.updateRowCount();
					grid.render();
				});
		
				grid.onBeforeEditCell.subscribe(function (e, args) {
					console.log("onBeforeEditCell");
				});
		
				grid.onCellChange.subscribe(function (e, args) {
					dataView.beginUpdate();
					dataView.setItems(data);
					dataView.endUpdate();
					grid.updateRowCount();
					grid.render();
				});
		
				grid.onValidationError.subscribe(function (e, args) {
					// handle validation errors originating from the CompositeEditor
					if (args.validationResults) {
					let errorMsg = args.validationResults.msg || "";
					if (args.editor && args.editor instanceof Slick.CompositeEditor) {
						if (args.validationResults.errors) {
						errorMsg += "\n";
						args.validationResults.errors.forEach(function (
							error,
							errorIndex
						) {
							const columnName = error.editor.args.column.id;
							errorMsg += `${columnName.toUpperCase()}: ${error.msg}`;
						});
						}
						console.log(errorMsg);
					}
					} else {
					alert(errorMessages);
					}
				});
	
				grid.setActiveCell(0, 0);
				console.log("SlickGrid initialized.");
			}
	
			// Download Excel functionality
			document.getElementById("downloadExcel").addEventListener("click", function () {
				const currDate    = getCurrentDateTime();
				const fileName    = "Company_List_" + currDate; // 원하는 파일 이름으로 변경 가능
				const sheetName   = "Company"; // 시트 이름
				const gridColumns = columns; // SlickGrid의 컬럼 배열
				const gridData    = dataView.getItems(); // SlickGrid의 데이터 배열
				exportToExcel(fileName, sheetName, gridColumns, gridData);
			});
	
			// 신규버튼 누르면 동작하는 함수
			function openDetails(modalType) {
			    
				const hiddenColumns = ["seqNo","csNo","oldStatDvCd", "frstRegDtm"]; // 예: 'csNo' 컬럼 숨기기
				
				let selCompNoDvCd = [
					  { column: "compNoDvCd", value: "1", text: "DUNS Number" }
					, { column: "compNoDvCd", value: "2", text: "Corporation Number" }
					, { column: "compNoDvCd", value: "3", text: "Business Registration Number" }
				];
				
				let selStatDvCd = [
					  { column: "statDvCd", value: "0", text: "Normal use" }
					, { column: "statDvCd", value: "1", text: "Application for use" }
					, { column: "statDvCd", value: "2", text: "Waiting for use" }
					, { column: "statDvCd", value: "3", text: "Application for change" }
					, { column: "statDvCd", value: "8", text: "Application for suspension of use" }
					, { column: "statDvCd", value: "9", text: "Suspension of use" }
				];
				
				//console.log("options6 in the console:", options6);
				grid.render();
	
				let originalData = null; // 수정 직전의 데이터를 저장할 변수
	
				if ( grid.getEditorLock().isActive() && !grid.getEditorLock().commitCurrentEdit()) {
					return;
				}
	
				//신규버튼을 누르면 가장 아래 셀을 선택 후 신규만 입력하도록 ActiveCell을 설정
				if (modalType === "create") {
					grid.setActiveCell(grid.getDataLength(), 0);
				}

		        var activeCell = grid.getActiveCell();
		        console.log("activeCell:", activeCell);

		        // get the active cell index
		        let activeCellIndex = activeCell.cell;

		        let column = grid.getColumns()[activeCellIndex];

		        // setting the active row to the first row if the active row is undefined
		        var activeRow = (activeCell && activeCell.row) || 0;
		        const dataContext = grid.getDataItem(activeRow);
		        
		        // alert for the edit popup if the user doesn't select the column value in the grid
		        if ((modalType === "edit" && !dataContext) || !activeCell || !column) {
		          alert("Please select a cell to edit the data.");
		          return;
		        }
		        
				if (!options.enableCellNavigation) {
					throw new Error( 'Composite Editor requires the flag "enableCellNavigation" to be set to True in your Grid Options.');
				} else if (!activeCell && modalType === "edit") {
					throw new Error("No records selected for edit operation");
				}
				
				renewOptions(false);
				// var dataContext = grid.getDataItem(activeRow);
				var isWithMassUpdate = modalType === "mass-update" || modalType === "mass-selection";
				// lastActiveRowNumber = activeRow;
	
				const modalElement   = new bootstrap.Modal(document.getElementById("exampleModal"));
				const modalTitleElem = document.querySelector(".modal-title");
				const modalBodyElem  = document.querySelector(".modal-body");
				console.log("modalTitleElem:", modalTitleElem);
	
				modalBodyElem.innerHTML = ""; // Clear previous content
	
				if(modalTitleElem){
					if(modalType ==="create"){
						modalTitleElem.textContent = "NEW";
					} else if(modalType === "edit") {
						modalTitleElem.textContent = "EDIT";
						originalData = JSON.parse(JSON.stringify(dataContext));
					}
				}
				// Dynamically create form elements based on the columns that have editors
				const modalColumns = columns.filter(col => col.editor && !hiddenColumns.includes(col.id));
	
				const columnsPerShow = 6;
				let currentRow;

				function createInputField(column){
					
				}
	
				modalColumns.forEach((column, index) => {
					// we create new row after 6 columms, 
					if(index % columnsPerShow === 0){
						currentRow = document.createElement("div")
						currentRow.className = "row";
						modalBodyElem.appendChild(currentRow);
					}
	
					const colElem = document.createElement("div");
					colElem.className = "col-lg-6";
	
					const formGroupElem = document.createElement("div");
					formGroupElem.className = "mb-3";
	
					const detailLabelitem = document.createElement("div");
					detailLabelitem.className = "form-label";
					detailLabelitem.textContent = column.name;
	
					const inputElem = document.createElement('input');
					inputElem.className = "form-control";
					inputElem.dataset.editorid = column.id;
					inputElem.value = modalType == "edit" ? dataContext[column.field] : ""; // pre-filling in the edit mode;

					formGroupElem.appendChild(detailLabelitem);

					if(column.id === "useStrDtm" || column.id === "useEndDtm"){
						// this is the date input field
						const dateInputContainer = document.createElement('div');
						dateInputContainer.className = "input-icon mb-2";
						const dateInput = document.createElement('input');
						dateInput.type = "date";
						dateInput.className = "form-control";
						dateInput.dataset.editorid = column.id;
						dateInput.id = "datepicker-icon";
						dateInput.value = (modalType === "edit" && dataContext) ? dataContext[column.field] : ""; // Pre-fill if in edit mode

						const dateInputAddon = document.createElement('span');
						dateInputAddon.className = "input-icon-addon";
						const svgElement = document.createElement('svg');
						svgElement.setAttribute("xmlns", "http://www.w3.org/2000/svg");
						svgElement.setAttribute("class", "icon");
						svgElement.setAttribute("width", "24");
						svgElement.setAttribute("height", "24");
						svgElement.setAttribute("viewBox", "0 0 24 24");
						svgElement.setAttribute("stroke-width", "2");
						svgElement.setAttribute("stroke", "currentColor");
						svgElement.setAttribute("fill", "none");
						svgElement.setAttribute("stroke-linecap", "round");
						svgElement.setAttribute("stroke-linejoin", "round");

						const pathElement1 = document.createElement('path');
						pathElement1.setAttribute("stroke", "none");
						pathElement1.setAttribute("d", "M0 0h24v24H0z");
						pathElement1.setAttribute("fill", "none");

						svgElement.appendChild(pathElement1);

						dateInputContainer.appendChild(dateInput);
						dateInputContainer.appendChild(dateInputAddon);
						dateInputAddon.appendChild(svgElement);

						// we add the date input to	to the form group element
						formGroupElem.appendChild(dateInputContainer);
					} else if(column.id === "compNoDvCd" || column.id === "statDvCd"){
						const selectInput = document.createElement('select');
						selectInput.className = "form-select";
						selectInput.dataset.editorid = column.id;

						// console.log("selectInput in the console:", selectInput);

						// we add a default option for the select dropdown
						const defaultOption = document.createElement('option');
						defaultOption.value = "";
						defaultOption.textContent = "- options -";
						selectInput.appendChild(defaultOption);
						
						// we define the select options based on the column id or index
						let optionsData = [];
						if( column.id === "compNoDvCd" ){
							optionsData = selCompNoDvCd;
						} else if (column.id === "statDvCd"){
							optionsData = selStatDvCd;
						}
						// we define which optins to use based on the column index
						// const optionsData = (index == 6) && (index === 7) ? options6 : options8;

						console.log("optionsData in the console:", optionsData);

						// i have to develop a function that will fetch the options from the db later

						// populate the select box with options hard-coded	variable arrray of objects
						optionsData.forEach(option => {
							const optionElemen = document.createElement('option');
							optionElemen.value = option.value;
							optionElemen.textContent = option.text;
							selectInput.appendChild(optionElemen);
						});

						// we pre-fill the select box in the edit box;
						if(modalType === "edit"){
							selectInput.value = dataContext[column.field] || "";
						}

						// we append the select box to the form group element
						formGroupElem.appendChild(selectInput);
				
						// const selectOption = document.createElement('option');
						// selectOption.value = "";
		
						// selectInput.appendChild(selectOption);
						// formGroupElem.appendChild(selectInput);
					} else {
						const inputElem = document.createElement('input');
						inputElem.className = "form-control";
						inputElem.dataset.editorid = column.id;
						inputElem.value = (modalType === "edit" && dataContext) ? dataContext[column.field] : ""; // pre-filling in the edit mode;
						formGroupElem.appendChild(inputElem);
					}
				 
					colElem.appendChild(formGroupElem);
					currentRow.appendChild(colElem);
				});
				
				if(modalColumns.length % columnsPerShow !== 0){
					const remainingCols = columnsPerShow - (modalColumns.length % columnsPerShow);
					const spacerCol = document.createElement('div');
					spacerCol.className = `col-lg-${remainingCols * 2}`;	// adjust the spacer column
					currentRow.appendChild(spacerCol);
				}
	
				modalElement.show();
		
				// focus on a first cell with an Editor (unless current cell already has an Editor then do nothing)
				// also when it's a "Create" modal, we'll scroll to the end of the grid
				var rowIndex = modalType === "create" ? data.length : activeRow;
				focusOnFirstCellWithEditor(columns, rowIndex, isWithMassUpdate);
	
				if (modalType === "edit" && !dataContext) {
					alert("Current row is not editable");
					return;
				} else if (modalType === "mass-selection") {
					var selectedRowsIndexes = grid.getSelectedRows();
					if (selectedRowsIndexes.length < 1) {
						alert( "You must select some rows before trying to apply new value(s)" );
						return;
					}
				}
				
				renewOptions(false);
				
				//업데이트 대상제외 컬럼 필터링
				var selColumns = [];
				for (let index = 0; index < columns.length; index++) {
					const element = columns[index];
					if (xcpt_cols.includes(element["id"])) {
						continue;
					} else {
						selColumns.push(element);
					}
				}
				
				/*
				if (isWithMassUpdate) {
					// when using Mass Update, we only care about the columns that have the "massUpdate: true", we disregard anything else
					modalColumns = selColumns.filter(function (col) {
						return col && col.massUpdate && col.editor;
					});
				} else {
					modalColumns = selColumns.filter(function (col) {
						return col && col.editor;
					});
				}
				*/
				
				let headerTitle = "";
				switch (modalType) {
					case "create":
						headerTitle = "Company Create";
					break;
					case "edit":
						headerTitle = `Editing ${dataContext.title}`;
					break;
					case "mass-update":
						headerTitle = "Mass Update (all rows)";
					break;
					case "mass-selection":
						headerTitle = "Update on Current Selection";
					break;
				}
	
				const modalElm = document.createElement("div");
				modalElm.className = "modal slick-composite-editor-modal";
	
				const modalHeaderElm = document.createElement("div");
				modalHeaderElm.className = "modal-header";
				modalHeaderElm.innerHTML = `<h5>${headerTitle}</h5>
											<button type="button" class="close" data-action="close" aria-label="Close">
												<span aria-hidden="true">×</span>
											</button>`;
				modalElm.appendChild(modalHeaderElm);
	
				const modalBodyElm = document.createElement("div");
				modalBodyElm.className = "modal-body";
				modalBodyElm.id = "modalForm";
	
				for (const column of modalColumns) {
					if (column.editor) {
						const detailLabelElm = document.createElement("div");
						detailLabelElm.className = `item-details-label editor-${column.id}`;
						detailLabelElm.textContent = column.name;
		
						const detailContainerElm = document.createElement("div");
						detailContainerElm.className = "item-details-editor-container";
						detailContainerElm.dataset.editorid = column.id;
						detailContainerElm.style.height = column.id === "desc" ? "inherit" : "20px";
		
						const detailValidationElm = document.createElement("div");
						detailValidationElm.className = `item-details-validation editor-${column.id}`;
		
						modalBodyElm.appendChild(detailLabelElm);
						modalBodyElm.appendChild(detailContainerElm);
						modalBodyElm.appendChild(detailValidationElm);
					}
				}
				
				modalElm.appendChild(modalBodyElm);
	
				grid.onClick.subscribe(function (e, args) {
					renewOptions(false);
				});
				
				// Save button logic
				const saveBtn = document.querySelector(".modal-footer .btn-primary");
				saveBtn.textContent = modalType === "create" ? "Create" : "Save changes";
			
				//modal을 마우스로 드래그가능하도록 설정
				$(".modal").draggable();
	
			    // this will only be triggered when the save button is clicked
				saveBtn.onclick = function saveHandler(){
				
					const formData = {};
	
					// Collect form data
					modalColumns.forEach(column => {
						const input = modalBodyElem.querySelector(`[data-editorid="${column.id}"]`);
						if (input) {
							formData[column.field] = input.value.trim();
						}
					});
					
					// 숨겨진 컬럼의 데이터도 수집
			        hiddenColumns.forEach(hiddenColId => {
			            formData[hiddenColId] = dataContext[hiddenColId]; // 숨겨진 컬럼의 값을 기존 데이터에서 가져옴
			        });
					
					if (modalType === "create") {
						// Add new item to grid data
						if (checkData(formData)) {
							//formData[unqId] = grid.getDataLength() + 1;
							//dataView.insertItem(grid.getDataLength(), formData);
							insertCs(JSON.stringify(formData));

						} else {
							alert("Please fill out all required fields.");
							return;
						}
					} else if (modalType === "edit") {
						// Update existing item in grid data
						let isChanged = false;
						for (let key in formData) {
							if (formData[key] !== originalData[key]) {
								isChanged = true;
								break;
							}
						}
	
						if (isChanged) {
							formData[unqId] = originalData[unqId];
							console.log("fn_updateCs befor formData:", formData);
							//dataView.updateItem(originalData[unqId], formData);
							fn_updateCs(JSON.stringify(formData));
						} else {
							alert("No changes detected.");
							return;
						}
					}
					grid.render();
					modalElement.hide(); // Hide the modal after saving\ 
				};
		
				// Close button logic
				const closeBtn = document.querySelector(".modal-footer .btn-link");
				closeBtn.removeEventListener("click", closeHandler);
				closeBtn.addEventListener("click", closeHandler);
	
				function closeHandler(){
					if(modalType === "edit" && originalData){
						dataView.updateItem(originalData[unqId], originalData);
					}
					modalElement.hide(); // we hide the modal
				}
	
				closeBtn.addEventListener("click", function () {
					if (modalType === "edit" && originalData) {
						dataView.updateItem(originalData[unqId], originalData); // Revert changes if canceled
					}
				}); 
			}
	
		</script>
</th:block>
</html>
